# Python Bytecode
*.pyc
*.pyo
__pycache__/

# Django Stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

# Django migrations


# Virtual Environment
venv/
env/
*.env
*.venv

# Distribution / Packaging
*.egg
*.egg-info
dist/
build/
eggs/

# IDE / Editor Files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment Variables
.env
*.env

# Pytest
.cache/

# Jupyter Notebooks
.ipynb_checkpoints

# Docker
docker-compose.override.yml
.docker/
dockerfile*

# Other files to ignore
*.log
*.bak
*.swp

# Test/coverage reports
.coverage
nosetests.xml
coverage.xml
*.cover

# MacOS
.DS_Store
