body {
    text-align: center;
}
form {
    display: inline-block;
}

.linea_personal{
    width: 100%;
    height: 5px;
    color: #FFC538;
    background-color: #FFC538;
    margin-top: -15px;
}

.linea_cuenta{
    width: 100%;
    height: 5px;
    color: #BDBBBB;
    background-color: #BDBBBB;
    margin-top: -15px;
}

.texto_personal{
    /* M3/label/large */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;

    /* M3/sys/light/on-secondary-container */

    color: #1D192B;
}

.texto_cuenta{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    /* identical to box height, or 143% */

    /* M3/sys/light/on-secondary-container */

    color: black;
}

.texto_nombre{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    /* identical to box height, or 143% */
    /* M3/sys/light/on-secondary-container */
    color: black;
    height: 120px;

}

.badge-avatar{
  width:30%;
  height:30%;
  border-radius:100%;
  border:5px solid #fff;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.2);
  position:relative;
}

.btn-verperfil{
border-radius:40%;
}

.btn-guardar{
border-radius:40%;
weight: 50px;
}

.btn-warning{
background-color: pink;
}
