.img-container-user{
  width: 55px;
  height: 55px;
  overflow: hidden;
}
.img-container-user img{
  width: 55px;
  height: 55px;
}

.empty-header {
  background-color: #FFC144;
  text-align: center;
  padding: 4px 0;
}
