{% extends "base.html" %}

{% load static %}

{% block base_title %} Contacto {% endblock %}

{% block base_head %} {% endblock %}

{% block base_link %}
	<link type='text/css' href='{% static "css/contacto.css" %}' rel='stylesheet' />
{% endblock %}

{% block base_style %}
{% endblock %}

{% block base_content %}
	{% if 'valido' in request.GET %}
	<p class="fw-bold fs-5 text-center bg-warning"> Mensaje enviado correctamente!!! </p>
	{% elif 'error' in request.GET%}
	<p class="fw-bold fs-5 text-center bg-warning"> Error al enviar el mensaje!!! </p>
	{% endif %}

	<div class="container mb-3">
		<h1 class="mt-5">Formulario de Contacto</h1>
		<form action="#" method="POST"> {% csrf_token %}
		  <div class="mb-3">
			<label for="email2" class="form-label">Correo electrónico</label>
			<input type="text" class="form-control bg-light" id="email2" name="email2" value="{% if user.is_authenticated %} {{ user.email }} {% endif %}" readonly>
		  </div>
		  <div class="mb-3">
			<label for="subject" class="form-label">Asunto</label>
			<input type="text" class="form-control" id="subject" name="subject" required>
		  </div>
		  <div class="mb-3">
			<label for="message" class="form-label">Mensaje</label>
			<textarea class="form-control" id="message" name="message" rows="5" required></textarea>
		  </div>
		  <button type="submit" class="col-2 btn btn-warning fw-bold">Enviar</button>
		</form>
	</div>
{% endblock %}

{% block base_script %}
{% endblock %}

