{% extends "base.html" %}

{% load static %}

{% block base_title %} Editar {% endblock %}

{% block base_style %}
	<style>
		.img-container-car{
		  	width:100px;
		  	overflow:hidden;
		}
		.img-container-car img{
		  	width:40%;
		  	height:40%
		}
	</style>
{% endblock %}

{% block base_content %}
		<div class="container mt-5 d-flex justify-content-center">
		<div class="row col-7">
			<h2 class="border-bottom border-warning border-4">Modifica los datos del vehículo...</h2>
			<form method="POST" class="post-form row px-2 pt-2 d-flex justify-content-center" id="form-vehiculo" enctype="multipart/form-data">{% csrf_token %}
				<div class="col-12 col-lg-6">
					<div class="col-12 ">
						<label for="inputTipo" class="form-label">Tipo</label>
						{{form.tipo_vehiculo}}
					</div>
					<div class="col-12 ">
						<label for="inputTipo" class="form-label">Marca</label>
						{{form.marca}}
					</div>
					<div class="col-12 ">
						<label for="inputModelo" class="form-label">Modelo</label>
						{{form.modelo}}
					</div>
					<div class="col-12 ">
						<label for="inputAnio" class="form-label">Año</label>
						{{form.anyo_antiguedad}}
					</div>
					<div class="col-12 ">
						<label for="inputMatricula" class="form-label">Matrícula</label>
						{{form.matricula}}
					</div>
					<div class="col-12 ">
						<label for="inputColor" class="form-label">Color</label>
						{{form.color}}
					</div>
					<div class="col-12">
						<label for="inputNumPlazas" class="form-label">Nº Plazas</label>
						{{form.numero_asientos}}
					</div>
				</div>
				<div class="col col-auto img-container-car img-responsive pe-4 py-2 text-center">
				{% if form.instance.imagen_vehiculo %}
					<input type="file" id="id_image" name="imagen_vehiculo" hidden>
					<label for="id_image">
						<img class="col-12"
							 style="cursor: pointer;"
							 src="{{ form.instance.imagen_vehiculo.url }}"
							 title="Sube una nueva imagen">
					</label>
				{% else %}
					<input type="file" id="id_image" name="imagen_vehiculo" hidden>
					<label for="id_image">
						<img class="col-12"
							 style="cursor: pointer;"
							 src='{% static "img/default-car.jpeg" %}'
							 title="Sube una nueva imagen">
					</label>
				{% endif %}
					(Pulsa sobre la imagen para cambiarla...)
				</div>
				<div class="col-12 d-flex justify-content-center py-1">
					<button type="submit" class="btn btn-warning btn-guardar col-4"><b>Guardar</b></button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}

