{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VAD</title>
    <link type='text/css' href='{% static "css/journey_register.css" %}' rel='stylesheet' />
    <!----- Boostrap ----->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body id="iywx" class="row d-flex justify-content-center">
    <h1 class="row d-flex justify-content-center">INGRESE LOS DATOS DEL VIAJE</h1>
    <div class="row d-flex justify-content-center col-8  bg-secondary text-white py-4">
        <form id="formularioNuevoViaje" class="row g-3" action="/save_journey/" method="POST"> {% csrf_token %}
            <div class="col-md-12">
                <input type="number" id="numIdP" name="numIdP" class="form-control" value="{{ID_Persona}}" hidden autofocus>
            </div>
            <div class="col-md-6">
                <input type="text" id="txtCiudadO" name="txtCiudadO" class="form-control" minlength="3" maxlength="64" placeholder="Ciudad Origen" autofocus required>
            </div>
            <div class="col-md-6">
                <input type="text" id="txtCiudadD" name="txtCiudadD" class="form-control" minlength="3" maxlength="64" placeholder="Ciudad Destino" autofocus required>
            </div>
            <div class="col-md-2">
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="flgIdaVuelta" id="flgIdaVuelta1" value="False" checked>
                  <label class="form-check-label" for="flgIdaVuelta1">Sólo Ida</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="flgIdaVuelta" id="flgIdaVuelta2" value="True">
                  <label class="form-check-label" for="flgIdaVuelta2">Ida y Vuelta</label>
                </div>
            </div>
            <div class="col-md-5 d-flex align-items-start">
                <label class="col-md-3">Fecha Ida</label>
                <input type="date" id="datFechaIda" name="datFechaIda" class="form-control" required>
                <input type="time" id="timHoraIda" name="timHoraIda" class="form-control" required>
            </div>
            <div class="col-md-5 d-flex align-items-start">
                <label class="col-md-3">Fecha Vuelta</label>
                <input type="date" id="datFechaVuelta" name="datFechaVuelta" class="form-control" required>
                <input type="time" id="timHoraVuelta" name="timHoraVuelta" class="form-control" required>
            </div>
            <div class="col-md-6">
                <input type="number" id="numAsientos" name="numAsientos" class="form-control" placeholder="Numero de asientos que se ofertan" autofocus>
            </div>
            <div class="col-md-6">
                <input type="number" id="numImporte" name="numImporte" class="form-control" placeholder="Coste por asiento" autofocus>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-success w-100 text-white" value="Guardar"/>
            </div>
        </form>
    </div>

    <!----- Boostrap ----->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

</body>
</html>