{% autoescape off %}
Hola {{ user.username }},

Hemos recibido una solicitud para restablecer la contraseña de su cuenta en esta dirección de correo electrónico. Para iniciar el proceso de restablecimiento de contraseña, haga clic en el enlace de abajo:
{{ protocol }}://{{ domain }}{% url 'n_confirmacion_reset' uidb64=uid token=token %}

Este enlace solo se puede utilizar una vez. Si necesita restablecer su contraseña nuevamente, visite {{ protocol }}://{{domain}} y solicite otro restablecimiento.

Si no realizó esta solicitud, simplemente puede ignorar este correo electrónico.

Atentamente,
El equipo MUVIL

{% endautoescape %}
