{% extends "menu_usuario_navbar.html" %}

{% load static %}

{% block base_title %} Opiniones {% endblock %}

{% block contenido_tab %}
				<div class="tab-pane fade show active" id="v-pills-opiniones" role="tabpanel" aria-labelledby="v-pills-opiniones-tab">
					<!-- INICIO Opiniones -->
					<div class="row">
						<div class="col-12 px-3 pt-2">
							<h3 class="border-bottom border-5 border-warning">Opiniones</h3>
						</div>
					</div>
					<nav class="row">
					  	<div class="nav nav-tabs justify-content-center col-12" id="opinion-nav-tab" role="tablist">
							<button class="nav-link active fw-bold col-4" id="nav-received-tab" data-bs-toggle="tab" data-bs-target="#nav-received" type="button" role="tab" aria-controls="nav-received" aria-selected="true">Recibidas</button>
							<button class="nav-link fw-bold col-4" id="nav-posted-tab" data-bs-toggle="tab" data-bs-target="#nav-posted" type="button" role="tab" aria-controls="nav-posted" aria-selected="false">Publicadas</button>
					  	</div>
					</nav>
					<div class="row tab-content" id="opinion-nav-tabContent">
					  	<div class="tab-pane fade show active" id="nav-received" role="tabpanel" aria-labelledby="nav-posted-tab">
							<!-- INICIO Opiniones Recibidas-->

							{% include "opiniones_recibidas.html" %}

							<!-- FIN Opiniones Recibidas-->
						</div>
					  	<div class="tab-pane fade" id="nav-posted" role="tabpanel" aria-labelledby="nav-posted-tab">
							<!-- INICIO Opiniones Publicadas-->
							<div class="container-fluid mx-2 my-4" id="opiniones-publicadas">
								<div class="row mt-3 py-2" id="opiniones-list">
									{% for op in opiniones_publicadas %}
									<div class="card mx-auto col-11 mb-1" id="opinion-card">
										<div class="row no-gutters card-body pb-1">
											<div class="col-6 col-lg-2 card-block order-1 order-lg-1 opinion-photo" id="opinion-photo">
												<div class="img-container-opinion mx-auto">
													{% if op.id_persona_publicador.imagen %}
														<img class="mx-auto d-block" src="{{ op.id_persona_publicador.imagen.url }}">
													{% endif %}
												</div>
												<p class="fs-6 fw-bold mb-0 text-center opinion-photo">
													{{ op.id_persona_publicador.nombre }}
												</p>
											</div>
											<div class="col-12 col-lg-8 card-block order-3 order-lg-2" id="opinion-body">
												<div class="row card-title" id="opinion-header">
													<div class="col fw-bold fs-6">
														{{ op.id_viaje.fecha_ida|date:"d/m/Y" }} - de {{op.id_viaje.ciudad_origen}} a {{op.id_viaje.ciudad_destino}}
													</div>
												</div>
												<div class="row" id="opinion-comment">
													<div class="col fs-6">
														{{op.mensaje_opinion}}
													</div>
												</div>
											</div>
											<div class="col-6 col-lg-2 card-block order-2 order-lg-3" id="opinion-score">
												<div class="row mt-2" id="opinion-score">
													<div class="col d-flex justify-content-center">
														<p class="fs-2 fw-bold mb-0">
															{{op.puntuacion}}
														</p>
													</div>
												</div>
												<div class="row" id="opinion-rating">
													<div class="col d-flex justify-content-center">
														<img class="img-fluid" src='{% static "img/rating_stars.jpg" %}' height="20px" width="100px">
													</div>
												</div>
												<div class="row pt-2" id="opinion-answer">
													<div class="col d-flex justify-content-center">
														<button class="btn">
															<a href="" alt="Editar"><embed src='{% static "icon/pencil-fill.svg" %}' alt="Editar"/></a>
															<b class="ps-1 fs-6">Editar</b>
														</button>
													</div>
												</div>
											</div>
										</div>
									</div>
									{% empty %}
									<div class="mx-auto my-2">
										<p class="fs-2 fw-bold text-center">¡¡ Aún no has publicado opiniones !!</p>
									</div>
									{% endfor %}
								</div>
							</div>
							<!-- FIN Opiniones Publicadas-->
						</div>
					</div>
					<!-- FIN Opiniones -->
				</div>
{% endblock %}