{% extends "menu_usuario_navbar.html" %}

{% load static %}

{% block base_title %} Pagos/Cobros {% endblock %}

{% block contenido_tab %}
				<div class="tab-pane fade show active" id="v-pills-pagoscobros" role="tabpanel" aria-labelledby="v-pills-pagoscobros-tab">
					<!-- INICIO Pagos/Cobros -->
					<div class="row">
						<div class="col-12 px-3 pt-2">
							<h3 class="border-bottom border-5 border-warning">Pagos/Cobros</h3>
						</div>
					</div>
					<nav class="row">
					  	<div class="nav nav-tabs justify-content-center col-12 border-bottom border-3 border-warning" id="money-nav-tab" role="tablist">
							<button class="nav-link active fw-bold col-4 fs-3 bg-light border-bottom border-3 border-warning" id="nav-expenses-tab" data-bs-toggle="tab" data-bs-target="#nav-expenses" type="button" role="tab" aria-controls="nav-expenses" aria-selected="true">Pagos</button>
							<button class="nav-link fw-bold col-4 fs-3 bg-light border-bottom border-3 border-warning" id="nav-charges-tab" data-bs-toggle="tab" data-bs-target="#nav-charges" type="button" role="tab" aria-controls="nav-charges" aria-selected="false">Cobros</button>
					  	</div>
					</nav>
					<div class="row tab-content" id="money-nav-tabContent">
					  	<!-- INICIO Pagos-->
						<div class="tab-pane fade show active" id="nav-expenses" role="tabpanel" aria-labelledby="nav-expenses-tab">
							<nav class="row">
								<div class="nav nav-tabs justify-content-center col-12" id="money-nav-tab" role="tablist">
									<button class="nav-link active fw-bold col-4" id="nav-expenses-conf-tab" data-bs-toggle="tab" data-bs-target="#nav-expenses-conf" type="button" role="tab" aria-controls="nav-expenses-conf" aria-selected="true">Metodo de Pago</button>
								  	<button class="nav-link fw-bold col-4" id="nav-expenses-hist-tab" data-bs-toggle="tab" data-bs-target="#nav-expenses-hist" type="button" role="tab" aria-controls="nav-expenses-hist" aria-selected="false">Historial de Pagos</button>
								</div>
						  	</nav>
						  	<div class="row tab-content" id="money-nav-tabContent">
								<!-- INICIO Metodos de Pago-->
								<div class="tab-pane fade show active" id="nav-expenses-conf" role="tabpanel" aria-labelledby="nav-expenses-conf-tab">
									<div class="row px-3 pt-3 pb-2">
										<div class="col-12 d-flex justify-content-end">
											<button class="btn btn-warning col-3" data-bs-toggle="collapse" href="#collapseAddPaymentMethod" role="button" aria-expanded="false" aria-controls="collapseAddPaymentMethod">
												<a href="" alt="Añadir"><embed src='{% static "icon/plus-circle.svg" %}' alt="Añadir"/></a>
												<b>Añadir Método de Pago</b>
											</button>
										</div>
									</div>
									<div class="collapse my-3" id="collapseAddPaymentMethod">
										<div class="card card-body col-8 mx-auto">
											<h3 class="border-bottom border-5 border-warning">Introduce los datos del método de pago...</h3>
											<form class="row px-2 pt-2" id="form-newpaymethod">
												<div class="col-12 d-flex justify-content-center mb-3">
													<input type="radio" name="paymethod-radio-button" class="btn-check" id="radio-button-1">
													<label for="radio-button-1" class="btn btn-outline-warning mx-1">
														<img src='{% static "icon/visa.svg" %}' alt="Visa" width="70px" id="Visa"/>
													</label>
													<input type="radio" name="paymethod-radio-button" class="btn-check" id="radio-button-2">
													<label for="radio-button-2" class="btn btn-outline-warning mx-1">
														<img src='{% static "icon/paypal.svg" %}' alt="PayPal" width="70px" id="PayPal"/>
													</label>
													<input type="radio" name="paymethod-radio-button" class="btn-check" id="radio-button-3">
													<label for="radio-button-3" class="btn btn-outline-warning mx-1">
														<img src='{% static "icon/apple-pay.svg" %}' alt="ApplePay" width="70px" id="ApplePay"/>
													</label>
													<input type="radio" name="paymethod-radio-button" class="btn-check" id="radio-button-4">
													<label for="radio-button-4" class="btn btn-outline-warning mx-1">
														<img src='{% static "icon/google-pay.svg" %}' alt="GooglePay" width="70px" id="GooglePay"/>
													</label>
												</div>
												<div class="col-12 form-floating mb-3">
													<input type="text" class="form-control" nombre="inputNumber" id="inputNumber" placeholder="Número">
													<label for="inputNumber" class="form-label">Número</label>
												</div>
												<div class="col-12 form-floating mb-3">
													<input type="text" class="form-control" nombre="inputName" id="inputName" placeholder="Nombre titular">
													<label for="inputName" class="form-label">Nombre titular</label>
												</div>
												<div class="col-6 form-floating mb-3">
													<input type="date" class="form-control" nombre="inputDate" id="inputDate" placeholder="Fecha Caducidad">
													<label for="inputDate" class="form-label">Fecha Caducidad</label>
												</div>
												<div class="col-6 form-floating mb-3">
													<input type="text" class="form-control" nombre="inputCVV" id="inputCVV" placeholder="CVV">
													<label for="inputCVV" class="form-label">CVV</label>
												</div>
												<div class="col-12 d-flex justify-content-center py-1">
													<button type="submit" class="btn btn-warning btn-guardar col-4"><b>Guardar</b></button>
												</div>
											</form>
											<div class="row px-2 pt-2">
												<div class="col-12">
													<h3 class="border-bottom border-5 border-warning"></h3>
												</div>
											</div>
										</div>
									</div>
									<div class="row card-medio-pago mx-auto px-3 pt-2 pb-2 shadow align-items-center">
										<div class="col-2 d-flex justify-content-center">
											<img src='{% static "icon/master-card.svg" %}' alt="Tarjeta de Crédito" width="70px" id="credit-card"/>
										</div>
										<div class="col-8">
											<p class="fw-bold m-0">
												Tarjeta de Crédito
											</p>
											<p class="fw-bold m-0">
												XXXXXXXXXXXX9875
											</p>
										</div>
										<div class="col-2 default-medio-pago">
											<p class="fw-bold m-0">
												Predeterminado
											</p>
										</div>
									</div>
									<div class="row card-medio-pago mx-auto px-3 pt-2 pb-2 shadow align-items-center">
										<div class="col-2 d-flex justify-content-center">
											<img src='{% static "icon/visa.svg" %}' alt="Tarjeta de Crédito" width="70px" id="credit-card"/>
										</div>
										<div class="col-8">
											<p class="fw-bold m-0">
												Tarjeta de Crédito
											</p>
											<p class="fw-bold m-0">
												XXXXXXXXXXXX9875
											</p>
										</div>
										<div class="col-2 default-medio-pago">
											<p class="fw-bold m-0">

											</p>
										</div>
									</div>
									<div class="row card-medio-pago mx-auto px-3 pt-2 pb-2 shadow align-items-center">
										<div class="col-2 d-flex justify-content-center">
											<img src='{% static "icon/paypal.svg" %}' alt="Tarjeta de Crédito" width="70px" id="credit-card"/>
										</div>
										<div class="col-8">
											<p class="fw-bold m-0">
												PayPal
											</p>
											<p class="fw-bold m-0">
												XXXXXXXXXXXX9875
											</p>
										</div>
										<div class="col-2 default-medio-pago">
											<p class="fw-bold m-0">

											</p>
										</div>
									</div>
							  	</div>
								<!-- FIN Metodos de Pago-->
								<!-- INICIO Historial de Pagos-->
								<div class="tab-pane fade" id="nav-expenses-hist" role="tabpanel" aria-labelledby="nav-expenses-hist-tab">
									<div class="row px-3 pt-3 pb-2 d-flex justify-content-end">
										<div class="col-3 d-flex justify-content-end">
											<label class="col-6 fw-bold d-flex align-items-center" for="select-order">
												Ordenar por...
											</label>
											<select class="form-select col-6 border rounded" id="select-order" aria-label="Default select example">
											  	<option value="1" selected>Fecha (recientes)</option>
											  	<option value="2">Fecha (antiguos)</option>
											  	<option value="3">Mayor Importe</option>
												<option value="4">Menor Importe</option>
											</select>
										</div>
									</div>
									<div class="row ps-3 pt-3 pb-2">
										<aside class="col-3 filtros-pagos border">
											<h4 class="fw-bold border-bottom border-3 border-warning">
												Filtrar por...
											</h4>
											<div class="filtro-fecha-pago my-1">
												<label class="fw-bold">
													Fecha de Pago
												</label>
												<div class="d-flex px-1 py-1">
													<label class="col-3" for="filtro-desde">desde </label>
													<input class="col-9" type="date" id="filtro-desde">
												</div>
												<div class="d-flex px-1 py-1">
													<label class="col-3" for="filtro-hasta">hasta </label>
													<input class="col-9" type="date" id="filtro-hasta">
												</div>
											</div>
											<div class="filtro-estado-pago my-1">
												<label class="fw-bold">
													Estado del Pago
												</label>
												<div class="px-2 py-1">
													<div class="form-check">
														<input type="checkbox" name="checkbox-1" class="form-check-input" id="checkbox-1">
														<label for="checkbox-1" class="form-check-label">Realizado</label>
													</div>
													<div class="form-check">
														<input type="checkbox" name="checkbox-2" class="form-check-input" id="checkbox-2">
														<label for="checkbox-2" class="form-check-label">Reembolsado</label>
													</div>
												</div>
											</div>
										</aside>
										<div class="col-9 contenedor-tarjetas-pagos">
											<div class="tarjeta-pago mx-3 my-2 px-2 py-2 d-flex align-items-center tarjeta-pago-ok rounded shadow-sm">
												<div class="col-10">
													<p class="h5 fw-bold">
														22/08/2022 Madrid-Zaragoza
													</p>
													<p>
														1 plaza
													</p>
												</div>
												<div class="col-2">
													<p class="h3 fw-bold">
														28,00€
													</p>
												</div>
											</div>
											<div class="tarjeta-pago mx-3 my-2 px-2 py-2 d-flex align-items-center tarjeta-pago-ko rounded shadow-sm">
												<div class="col-10">
													<p class="h5 fw-bold">
														09/07/2022 Albacete-Murcia
													</p>
													<p>
														2 plazas
													</p>
												</div>
												<div class="col-2">
													<p class="h3 fw-bold">
														13,50€
													</p>
												</div>
											</div>
											<div class="tarjeta-pago mx-3 my-2 px-2 py-2 d-flex align-items-center tarjeta-pago-ok rounded shadow-sm">
												<div class="col-10">
													<p class="h5 fw-bold">
														30/05/2022 Argentina-Colombia
													</p>
													<p>
														1 plaza
													</p>
												</div>
												<div class="col-2">
													<p class="h3 fw-bold">
														75,00€
													</p>
												</div>
											</div>
											<div class="tarjeta-pago mx-3 my-2 px-2 py-2 d-flex align-items-center tarjeta-pago-ok rounded shadow-sm">
												<div class="col-10">
													<p class="h5 fw-bold">
														09/12/2021 Galicia-Sevilla
													</p>
													<p>
														3 plazas
													</p>
												</div>
												<div class="col-2">
													<p class="h3 fw-bold">
														54,70€
													</p>
												</div>
											</div>
										</div>
									</div>
							  	</div>
								<!-- FIN Historial de Pagos-->
						  	</div>
						</div>
						<!-- FIN Pagos-->
						<!-- INICIO Cobros-->
					  	<div class="tab-pane fade" id="nav-charges" role="tabpanel" aria-labelledby="nav-charges-tab">
							<nav class="row">
								<div class="nav nav-tabs justify-content-center col-12" id="money-nav-tab" role="tablist">
									<button class="nav-link active fw-bold col-4" id="nav-charges-conf-tab" data-bs-toggle="tab" data-bs-target="#nav-charges-conf" type="button" role="tab" aria-controls="nav-charges-conf" aria-selected="true">Metodo de Cobro</button>
								  	<button class="nav-link fw-bold col-4" id="nav-charges-hist-tab" data-bs-toggle="tab" data-bs-target="#nav-charges-hist" type="button" role="tab" aria-controls="nav-charges-hist" aria-selected="false">Historial de Cobros</button>
								</div>
						  	</nav>
						  	<div class="row tab-content" id="money-nav-tabContent">
								<!-- INICIO Metodos de Cobro-->
								<div class="tab-pane fade show active" id="nav-charges-conf" role="tabpanel" aria-labelledby="nav-charges-conf-tab">
									<div class="row px-3 pt-3 pb-2">
										<div class="col-12 d-flex justify-content-end">
											<button class="btn btn-warning col-3" data-bs-toggle="collapse" href="#collapseAddChargeMethod" role="button" aria-expanded="false" aria-controls="collapseAddChargeMethod">
												<a href="" alt="Añadir"><embed src='{% static "icon/plus-circle.svg" %}' alt="Añadir"/></a>
												<b>Añadir Método de Cobro</b>
											</button>
										</div>
									</div>
									<div class="collapse my-3" id="collapseAddChargeMethod">
										<div class="card card-body col-8 mx-auto">
											<h3 class="border-bottom border-5 border-warning">Introduce los datos del método de pago...</h3>
											<form class="row px-2 pt-2" id="form-newpaymethod">
												<div class="col-12 d-flex justify-content-center mb-3">
													<input type="radio" name="paymethod-radio-button" class="btn-check" id="radio-button-1">
													<label for="radio-button-1" class="btn btn-outline-warning mx-1">
														<img src='{% static "icon/visa.svg" %}' alt="Visa" width="70px" id="Visa"/>
													</label>
													<input type="radio" name="paymethod-radio-button" class="btn-check" id="radio-button-2">
													<label for="radio-button-2" class="btn btn-outline-warning mx-1">
														<img src='{% static "icon/paypal.svg" %}' alt="PayPal" width="70px" id="PayPal"/>
													</label>
												</div>
												<div class="col-12 form-floating mb-3">
													<input type="text" class="form-control" nombre="inputName" id="inputName" placeholder="Titular">
													<label for="inputName" class="form-label">Titular</label>
												</div>
												<div class="col-12 form-floating mb-3">
													<input type="text" class="form-control" nombre="inputAddress" id="inputAddress" placeholder="Domiciliación">
													<label for="inputAddress" class="form-label">Domiciliación</label>
												</div>
												<div class="col-12 form-floating mb-3">
													<input type="text" class="form-control" nombre="inputIBAN" id="inputIBAN" placeholder="IBAN">
													<label for="inputIBAN" class="form-label">IBAN</label>
												</div>
												<div class="col-12 form-floating mb-3">
													<input type="text" class="form-control" nombre="inputBIC" id="inputBIC" placeholder="BIC">
													<label for="inputBIC" class="form-label">BIC</label>
												</div>
												<div class="col-12 d-flex justify-content-center py-1">
													<button type="submit" class="btn btn-warning btn-guardar col-4"><b>Guardar</b></button>
												</div>
											</form>
											<div class="row px-2 pt-2">
												<div class="col-12">
													<h3 class="border-bottom border-5 border-warning"></h3>
												</div>
											</div>
										</div>
									</div>
									<div class="row card-medio-pago mx-auto px-3 pt-2 pb-2 shadow align-items-center">
										<div class="col-2 d-flex justify-content-center">
											<img src='{% static "icon/master-card.svg" %}' alt="Tarjeta de Crédito" width="70px" id="credit-card"/>
										</div>
										<div class="col-8">
											<p class="fw-bold m-0">
												Tarjeta de Crédito
											</p>
											<p class="fw-bold m-0">
												XXXXXXXXXXXX9875
											</p>
										</div>
										<div class="col-2 default-medio-pago">
											<p class="fw-bold m-0">
												Predeterminado
											</p>
										</div>
									</div>
									<div class="row card-medio-pago mx-auto px-3 pt-2 pb-2 shadow align-items-center">
										<div class="col-2 d-flex justify-content-center">
											<img src='{% static "icon/paypal.svg" %}' alt="Tarjeta de Crédito" width="70px" id="credit-card"/>
										</div>
										<div class="col-8">
											<p class="fw-bold m-0">
												PayPal
											</p>
											<p class="fw-bold m-0">
												XXXXXXXXXXXX9875
											</p>
										</div>
										<div class="col-2 default-medio-pago">
											<p class="fw-bold m-0">

											</p>
										</div>
									</div>
							  	</div>
								<!-- FIN Metodos de Cobro-->
								<!-- INICIO Historial de Cobros-->
								<div class="tab-pane fade" id="nav-charges-hist" role="tabpanel" aria-labelledby="nav-charges-hist-tab">
									<div class="row px-3 pt-3 pb-2 d-flex justify-content-end">
										<div class="col-3 d-flex justify-content-end">
											<label class="col-6 fw-bold d-flex align-items-center" for="select-order">
												Ordenar por...
											</label>
											<select class="form-select col-6 border rounded" id="select-order" aria-label="Default select example">
											  	<option value="1" selected>Fecha (recientes)</option>
											  	<option value="2">Fecha (antiguos)</option>
											  	<option value="3">Mayor Importe</option>
												<option value="4">Menor Importe</option>
											</select>
										</div>
									</div>
									<div class="row ps-3 pt-3 pb-2">
										<aside class="col-3 filtros-pagos border">
											<h4 class="fw-bold border-bottom border-3 border-warning">
												Filtrar por...
											</h4>
											<div class="filtro-fecha-pago my-1">
												<label class="fw-bold">
													Fecha de Cobro
												</label>
												<div class="d-flex px-1 py-1">
													<label class="col-3" for="filtro-desde">desde </label>
													<input class="col-9" type="date" id="filtro-desde">
												</div>
												<div class="d-flex px-1 py-1">
													<label class="col-3" for="filtro-hasta">hasta </label>
													<input class="col-9" type="date" id="filtro-hasta">
												</div>
											</div>
											<div class="filtro-estado-pago my-1">
												<label class="fw-bold">
													Estado del Cobro
												</label>
												<div class="px-2 py-1">
													<div class="form-check">
														<input type="checkbox" name="checkbox-1" class="form-check-input" id="checkbox-1">
														<label for="checkbox-1" class="form-check-label">Transferidos</label>
													</div>
													<div class="form-check">
														<input type="checkbox" name="checkbox-2" class="form-check-input" id="checkbox-2">
														<label for="checkbox-2" class="form-check-label">Pendiente Transferencia</label>
													</div>
												</div>
											</div>
										</aside>
										<div class="col-9 contenedor-tarjetas-pagos">
											<div class="tarjeta-pago mx-3 my-2 px-2 py-2 d-flex align-items-center tarjeta-pago-ok rounded shadow-sm">
												<div class="col-10">
													<p class="h5 fw-bold">
														22/08/2022 Madrid-Zaragoza
													</p>
													<p>
														1 plaza
													</p>
												</div>
												<div class="col-2">
													<p class="h3 fw-bold">
														28,00€
													</p>
												</div>
											</div>
											<div class="tarjeta-pago mx-3 my-2 px-2 py-2 d-flex align-items-center tarjeta-pago-ko rounded shadow-sm">
												<div class="col-10">
													<p class="h5 fw-bold">
														09/07/2022 Albacete-Murcia
													</p>
													<p>
														2 plazas
													</p>
												</div>
												<div class="col-2">
													<p class="h3 fw-bold">
														13,50€
													</p>
												</div>
											</div>
											<div class="tarjeta-pago mx-3 my-2 px-2 py-2 d-flex align-items-center tarjeta-pago-ko rounded shadow-sm">
												<div class="col-10">
													<p class="h5 fw-bold">
														30/05/2022 Argentina-Colombia
													</p>
													<p>
														1 plaza
													</p>
												</div>
												<div class="col-2">
													<p class="h3 fw-bold">
														75,00€
													</p>
												</div>
											</div>
											<div class="tarjeta-pago mx-3 my-2 px-2 py-2 d-flex align-items-center tarjeta-pago-ok rounded shadow-sm">
												<div class="col-10">
													<p class="h5 fw-bold">
														09/12/2021 Galicia-Sevilla
													</p>
													<p>
														3 plazas
													</p>
												</div>
												<div class="col-2">
													<p class="h3 fw-bold">
														54,70€
													</p>
												</div>
											</div>
										</div>
									</div>
							  	</div>
								<!-- FIN Historial de Cobros-->
						  	</div>
						</div>
						<!-- FIN Cobros-->
					</div>
					<!-- FIN Pagos/Cobros -->
				</div>
{% endblock %}