{% extends "base.html" %}

{% load static %}

{% block base_link %}
	<link type='text/css' href='{% static "css/menu_usuario.css" %}' rel='stylesheet' />
{% endblock %}

{% block base_style %}
	<style>
		.rating .star {
			width: 20px;
			filter: invert(70%) sepia(84%) saturate(706%) hue-rotate(356deg) brightness(101%) contrast(106%);
		}
		.img-container-opinion{
		  	width:115px;
		  	height:115px;
		  	overflow:hidden;
		}
		.img-container-opinion img{
		  	width:100%;
		  	height:auto
		}
	</style>
{% endblock %}

{% block base_content %}
	<div class="container-md mt-5">
		<div class="row">
			<div class="col-12 d-flex justify-content-center my-2 d-block d-lg-none">
				<button type="button" class="btn btn-warning col-10 fw-bold" data-bs-toggle="modal" data-bs-target="#ventana-opciones-menu-usuario">
					Opciones
				</button>
			</div>

			<!-- INICIO Modal Opciones Menu (Responsivo) -->
			<!-- Nav tabs -->
			<div class="modal fade" id="ventana-opciones-menu-usuario" tabindex="-1" aria-labelledby="ventana-opciones-menu-usuario" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title fw-bold border-bottom border-3 border-warning" id="exampleModalLabel">Elige una opción</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					  	</div>
					  	<div class="modal-body">
							<div class="d-flex align-items-start ms-3">
			  					<div class="nav nav-pills flex-column me-3 col-12 custom-nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				  					<button class="nav-link col-12 align-self-end disabled text-center" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-infopersonal" type="button" role="tab" aria-controls="v-pills-infopersonal" aria-selected="true">
					  					<i class="fas fa-user-tag fa-xl"></i>
										<span class="fs-5 fw-bold mx-2">Datos Personales</span>
				  					</button>
									<a href="/menu_usuario/miperfil/" class="nav-link text-start col-12 align-self-end text-dark {% if 'menu_usuario/miperfil/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-datos-tab" data-bs-target="#v-pills-datos" type="button" role="tab" aria-controls="v-pills-datos" aria-selected="false">
										<i class="fas fa-address-card fa-xl"></i>
										<span class="fw-bold mx-2">Mi Perfil</span>
									</a>
									<a href="/menu_usuario/miscoches/" class="nav-link text-start col-12 align-self-end text-dark {% if 'menu_usuario/miscoches/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-coches-tab" data-bs-target="#v-pills-coches" type="button" role="tab" aria-controls="v-pills-coches" aria-selected="false">
										<i class="fas fa-car-on fa-xl"></i>
										<span class="fw-bold mx-2">Mis Coches</span>
									</a>
									<a href="/menu_usuario/preferencias/" class="nav-link text-start col-12 align-self-end text-dark {% if 'menu_usuario/preferencias/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-preferencias-tab" data-bs-target="#v-pills-preferencias" type="button" role="tab" aria-controls="v-pills-preferencias" aria-selected="false">
										<i class="fas fa-palette fa-xl"></i>
										<span class="fw-bold mx-2">Mis Preferencias</span>
									</a>
									<button class="nav-link col-12 align-self-end disabled text-center" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cuenta" type="button" role="tab" aria-controls="v-pills-cuenta" aria-selected="true">
										<i class="fas fa-box-open fa-xl"></i>
										<span class="fs-5 fw-bold mx-2">Cuenta</span>
									</button>
									<a href="/menu_usuario/opiniones/" class="nav-link text-start col-12 align-self-end text-dark {% if 'menu_usuario/opiniones/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-opiniones-tab" data-bs-target="#v-pills-opiniones" type="button" role="tab" aria-controls="v-pills-opiniones" aria-selected="false">
										<i class="fas fa-comments fa-xl"></i>
										<span class="fw-bold mx-2">Opiniones</span>
									</a>
									<!--
									<a href="/menu_usuario/notificaciones/" class="nav-link text-start col-12 align-self-end text-dark {% if 'menu_usuario/notificaciones/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-notificaciones-tab" data-bs-target="#v-pills-notificaciones" type="button" role="tab" aria-controls="v-pills-notificaciones" aria-selected="false">
										<i class="fas fa-bell fa-xl"></i>
										<span class="fw-bold mx-2">Notificaciones</span>
									</a>
									-->
									<!--
									<a href="/menu_usuario/pagoscobros/" class="nav-link text-start col-12 align-self-end text-dark {% if 'menu_usuario/pagoscobros/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-pagoscobros-tab" data-bs-target="#v-pills-pagoscobros" type="button" role="tab" aria-controls="v-pills-pagoscobros" aria-selected="false">
										<i class="fas fa-money-bill-transfer fa-xl"></i>
										<span class="fw-bold mx-2">Pagos/Cobros</span>
									</a>
									-->
									<a href="/menu_usuario/contraseña/" class="nav-link text-start col-12 align-self-end text-dark {% if 'menu_usuario/contraseña/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-contrasena-tab" data-bs-target="#v-pills-contrasena" type="button" role="tab" aria-controls="v-pills-contrasena" aria-selected="false">
										<i class="fas fa-lock fa-xl"></i>
										<span class="fw-bold mx-2">Contraseña</span>
									</a>
								</div>
							</div>
					  	</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
					  	</div>
					</div>
				</div>
			</div>
			<!-- FIN Modal Opciones Menu (Responsivo) -->


			<!-- Nav tabs -->
			<div class="d-flex align-items-start ms-3">
			  	<div class="nav nav-pills flex-column me-3 col-2 custom-nav-pills d-none d-lg-block" id="v-pills-tab" role="tablist" aria-orientation="vertical">
				  	<button class="nav-link text-start col-12 align-self-end disabled text-dark" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-infopersonal" type="button" role="tab" aria-controls="v-pills-infopersonal" aria-selected="true">
					  	<i class="fas fa-user-tag fa-xl"></i>
						<span class="fw-bold mx-2">Datos Personales</span>
				  	</button>
					<a href="/menu_usuario/miperfil/" class="nav-link text-start col-11 ms-3 text-dark {% if 'menu_usuario/miperfil/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-datos-tab" data-bs-target="#v-pills-datos" type="button" role="tab" aria-controls="v-pills-datos" aria-selected="false">
					  	<i class="fas fa-address-card fa-xl"></i>
						<span class="fw-bold mx-2">Mi Perfil</span>
				  	</a>
				  	<a href="/menu_usuario/miscoches/" class="nav-link text-start col-11 ms-3 text-dark {% if 'menu_usuario/miscoches/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-coches-tab" data-bs-target="#v-pills-coches" type="button" role="tab" aria-controls="v-pills-coches" aria-selected="false">
					  	<i class="fas fa-car-on fa-xl"></i>
						<span class="fw-bold mx-2">Mis Coches</span>
				  	</a>
				  	<a href="/menu_usuario/preferencias/" class="nav-link text-start col-11 ms-3 text-dark {% if 'menu_usuario/preferencias/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-preferencias-tab" data-bs-target="#v-pills-preferencias" type="button" role="tab" aria-controls="v-pills-preferencias" aria-selected="false">
					  	<i class="fas fa-palette fa-xl"></i>
						<span class="fw-bold mx-2">Mis Preferencias</span>
				  	</a>
				  	<button class="nav-link text-start col-12 align-self-end disabled text-dark" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-cuenta" type="button" role="tab" aria-controls="v-pills-cuenta" aria-selected="true">
					  	<i class="fas fa-box-open fa-xl"></i>
						<span class="fw-bold mx-2">Cuenta</span>
				  	</button>
				  	<a href="/menu_usuario/opiniones/" class="nav-link text-start col-11 ms-3 text-dark {% if 'menu_usuario/opiniones/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-opiniones-tab" data-bs-target="#v-pills-opiniones" type="button" role="tab" aria-controls="v-pills-opiniones" aria-selected="false">
					  	<i class="fas fa-comments fa-xl"></i>
						<span class="fw-bold mx-2">Opiniones</span>
				  	</a>
					<!--
				  	<a href="/menu_usuario/notificaciones/" class="nav-link text-start col-11 ms-3 text-dark {% if 'menu_usuario/notificaciones/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-notificaciones-tab" data-bs-target="#v-pills-notificaciones" type="button" role="tab" aria-controls="v-pills-notificaciones" aria-selected="false">
					  	<i class="fas fa-bell fa-xl"></i>
						<span class="fw-bold mx-2">Notificaciones</span>
				  	</a>
				  	-->
					<!--
				  	<a href="/menu_usuario/pagoscobros/" class="nav-link text-start col-11 ms-3 text-dark {% if 'menu_usuario/pagoscobros/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-pagoscobros-tab" data-bs-target="#v-pills-pagoscobros" type="button" role="tab" aria-controls="v-pills-pagoscobros" aria-selected="false">
					  	<i class="fas fa-money-bill-transfer fa-xl"></i>
						<span class="fw-bold mx-2">Pagos/Cobros</span>
				  	</a>
				  	-->
				  	<a href="/menu_usuario/contraseña/" class="nav-link text-start col-11 ms-3 text-dark {% if 'menu_usuario/contraseña/' in request.path %}active" style="background-color:#CACACA;{% endif %}" id="v-pills-contrasena-tab" data-bs-target="#v-pills-contrasena" type="button" role="tab" aria-controls="v-pills-contrasena" aria-selected="false">
					  	<i class="fas fa-lock fa-xl"></i>
						<span class="fw-bold mx-2">Contraseña</span>
				  	</a>
			  	</div>


			<!-- Tab panes -->
			<div class="tab-content col-11 col-md-9 navpane" id="v-pills-tabContent">

				{% block contenido_tab %}

    			{% endblock %}

			</div>
		</div>
	</div>
{% endblock %}
