{% extends "menu_usuario_navbar.html" %}

{% load static %}

{% block base_title %} Mis Preferencias {% endblock %}

{% block base_style %}
	<style>
		.filtro-verde {
			filter: invert(47%) sepia(27%) saturate(5309%) hue-rotate(139deg) brightness(88%) contrast(99%);
		}
		.filtro-amarillo {
			filter: invert(82%) sepia(24%) saturate(2290%) hue-rotate(325deg) brightness(112%) contrast(112%);
		}
		.filtro-rojo {
			filter: invert(16%) sepia(100%) saturate(7052%) hue-rotate(355deg) brightness(102%) contrast(126%);
		}
    </style>
{% endblock %}

{% block contenido_tab %}
				<div class="tab-pane fade show active" id="v-pills-preferencias" role="tabpanel" aria-labelledby="v-pills-preferencias-tab">
					<!-- INICIO Mis Preferencias -->
					<div class="row px-2 pt-2">
						<div class="col-12">
							<h3 class="border-bottom border-5 border-warning roboto-text">Mis Preferencias</h3>
						</div>
						<form method="POST"> {% csrf_token %}
							<div class="col-12 col-lg-7 mx-auto mt-4">
								<hr>
								<label class="col-5 fs-5 fw-bold text-center roboto-text" for="btn-group-conversation">Conversación:</label>
								<div class="btn-group" id="btn-group-conversation">
									<input type="radio" class="btn-check" name="pref_conversacion" id="option1_conv" autocomplete="off"
										   value="1" {% if usuario.pref_conversacion == 1 %} checked {% endif %}/>
									<label class="btn btn-white" for="option1_conv">
										<img src='{% static "icon/group.svg" %}' height="25px" width="25px" id="group-icon"
											 alt="Hablo lo justo" title="Hablo lo justo" class="filtro-rojo"/>
									</label>
									<input type="radio" class="btn-check" name="pref_conversacion" id="option2_conv" autocomplete="off"
											value="2" {% if usuario.pref_conversacion == 2 %} checked {% endif %}/>
									<label class="btn btn-white" for="option2_conv">
										<img src='{% static "icon/group.svg" %}' height="30px" width="30px" id="group-icon"
											 alt="En alguna conversación intervengo" title="En alguna conversación intervengo" class="filtro-amarillo"/>
									</label>
									<input type="radio" class="btn-check" name="pref_conversacion" id="option3_conv" autocomplete="off"
											value="3" {% if usuario.pref_conversacion == 3 %} checked {% endif %}/>
									<label class="btn btn-white" for="option3_conv">
										<img src='{% static "icon/group.svg" %}' height="35px" width="35px" id="group-icon"
										alt="Me gusta conversar durante el viaje" title="Me gusta conversar durante el viaje" class="filtro-verde"/>
									</label>
								</div>
								<hr>
							</div>
							<div class="col-12 col-lg-7 mx-auto">
								<label class="col-5 fs-5 fw-bold text-center roboto-text" for="btn-group-music">Música:</label>
								<div class="btn-group" id="btn-group-music">
									<input type="radio" class="btn-check" name="pref_musica" id="option1_music" autocomplete="off"
									value="1" {% if usuario.pref_musica == 1 %} checked {% endif %}/>
									<label class="btn btn-white" for="option1_music">
										<img src='{% static "icon/music.svg" %}' height="25px" width="25px" id="music-icon"
										alt="Prefiero un viaje sin música" title="Prefiero un viaje sin música" class="filtro-rojo"/>
									</label>
									<input type="radio" class="btn-check" name="pref_musica" id="option2_music" autocomplete="off"
									value="2" {% if usuario.pref_musica == 2 %} checked {% endif %}/>
									<label class="btn btn-white" for="option2_music">
										<img src='{% static "icon/music.svg" %}' height="30px" width="30px" id="music-icon"
										alt="No me importa escuchar música durante el viaje" title="No me importa escuchar música durante el viaje" class="filtro-amarillo"/>
									</label>
									<input type="radio" class="btn-check" name="pref_musica" id="option3_music" autocomplete="off"
									value="3" {% if usuario.pref_musica == 3 %} checked {% endif %}/>
									<label class="btn btn-white" for="option3_music">
										<img src='{% static "icon/music.svg" %}' height="35px" width="35px" id="music-icon"
										alt="Me motiva la música de fondo durante el viaje" title="Me motiva la música de fondo durante el viaje" class="filtro-verde"/>
									</label>
								</div>
								<hr>
							</div>
							<div class="col-12 col-lg-7 mx-auto">
								<label class="col-5 fs-5 fw-bold text-center roboto-text" for="btn-group-pet">Mascotas:</label>
								<div class="btn-group" id="btn-group-pet">
									<input type="radio" class="btn-check" name="pref_mascota" id="option1_pet" autocomplete="off"
									value="1" {% if usuario.pref_mascota == 1 %} checked {% endif %}/>
									<label class="btn btn-white" for="option1_pet">
										<img src='{% static "icon/footprint.svg" %}' height="25px" width="25px" id="pet-icon"
										alt="Prefiero un viaje sin mascotas" title="Prefiero un viaje sin mascotas" class="filtro-rojo"/>
									</label>
									<input type="radio" class="btn-check" name="pref_mascota" id="option2_pet" autocomplete="off"
									value="2" {% if usuario.pref_mascota == 2 %} checked {% endif %}/>
									<label class="btn btn-white" for="option2_pet">
										<img src='{% static "icon/footprint.svg" %}' height="30px" width="30px" id="pet-icon"
										alt="No me importa viajar con mascotas" title="No me importa viajar con mascotas" class="filtro-amarillo"/>
									</label>
									<input type="radio" class="btn-check" name="pref_mascota" id="option3_pet" autocomplete="off"
									value="3" {% if usuario.pref_mascota == 3 %} checked {% endif %}/>
									<label class="btn btn-white" for="option3_pet">
										<img src='{% static "icon/footprint.svg" %}' height="35px" width="35px" id="pet-icon"
										alt="Adoro las mascotas y me encanta compartir viaje con ellas" title="Adoro las mascotas y me encanta compartir viaje con ellas" class="filtro-verde"/>
									</label>
								</div>
								<hr>
							</div>
							<div class="col-12 col-lg-7 mx-auto">
								<label class="col-5 fs-5 fw-bold text-center roboto-text" for="btn-group-smoke">Fumar:</label>
								<div class="btn-group" id="btn-group-smoke">
									<input type="radio" class="btn-check" name="pref_fumar" id="option1_smoke" autocomplete="off"
									value="1" {% if usuario.pref_fumar == 1 %} checked {% endif %}/>
									<label class="btn btn-white" for="option1_smoke">
										<img src='{% static "icon/smoking.svg" %}' height="25px" width="25px" id="smoke-icon"
										alt="Me molesta el humo dentro del coche" title="Me molesta el humo dentro del coche" class="filtro-rojo"/>
									</label>
									<input type="radio" class="btn-check" name="pref_fumar" id="option2_smoke" autocomplete="off"
									value="2" {% if usuario.pref_fumar == 2 %} checked {% endif %}/>
									<label class="btn btn-white" for="option2_smoke">
										<img src='{% static "icon/smoking.svg" %}' height="30px" width="30px" id="smoke-icon"
										alt="Podría soportar algo de humo dentro del coche" title="Podría soportar algo de humo dentro del coche" class="filtro-amarillo"/>
									</label>
									<input type="radio" class="btn-check" name="pref_fumar" id="option3_smoke" autocomplete="off"
									value="3" {% if usuario.pref_fumar == 3 %} checked {% endif %}/>
									<label class="btn btn-white" for="option3_smoke">
										<img src='{% static "icon/smoking.svg" %}' height="35px" width="35px" id="smoke-icon"
										alt="No me molesta si alguien fuma dentro del coche" title="No me molesta si alguien fuma dentro del coche" class="filtro-verde"/>
									</label>
								</div>
								<hr>
							</div>
							<div class="col-12 col-lg-7 mx-auto">
								<label class="col-5 fs-5 fw-bold text-center roboto-text" for="btn-group-eat">Comer:</label>
								<div class="btn-group" id="btn-group-eat">
									<input type="radio" class="btn-check" name="pref_comida" id="option1_eat" autocomplete="off"
									value="1" {% if usuario.pref_comida == 1 %} checked {% endif %}/>
									<label class="btn btn-white" for="option1_eat">
										<img src='{% static "icon/nutrition.svg" %}' height="25px" width="25px" id="eat-icon"
										alt="Prefiero que no se coma dentro del coche" title="Prefiero que no se coma dentro del coche" class="filtro-rojo"/>
									</label>
									<input type="radio" class="btn-check" name="pref_comida" id="option2_eat" autocomplete="off"
									value="2" {% if usuario.pref_comida == 2 %} checked {% endif %}/>
									<label class="btn btn-white" for="option2_eat">
										<img src='{% static "icon/nutrition.svg" %}' height="30px" width="30px" id="eat-icon"
										alt="No me importa que se coma dentro del coche" title="No me importa que se coma dentro del coche" class="filtro-amarillo"/>
									</label>
									<input type="radio" class="btn-check" name="pref_comida" id="option3_eat" autocomplete="off"
									value="3" {% if usuario.pref_comida == 3 %} checked {% endif %}/>
									<label class="btn btn-white" for="option3_eat">
										<img src='{% static "icon/nutrition.svg" %}' height="35px" width="35px" id="eat-icon"
										alt="Me parece correcto comer dentro del coche" title="Me parece correcto comer dentro del coche" class="filtro-verde"/>
									</label>
								</div>
								<hr>
							</div>
							<div class="col-12 d-flex justify-content-center py-1">
								<button type="submit" class="btn btn-warning btn-guardar col-4 roboto-text fw-bold">Guardar</button>
							</div>
						</form>
					</div>
					<!-- FIN Mis Preferencias -->
				</div>
{% endblock %}