{% extends "base.html" %}

{% load static %}

{% block base_title %} Perfil Público {% endblock %}

{% block base_link %}
	<link type='text/css' href='{% static "css/perfil_publico.css" %}' rel='stylesheet' />
{% endblock %}

{% block base_style %}
	<style>
        .img-container-car{
            width:110px;
            overflow:hidden;
        }
        .img-container-car img{
            width:100%;
            height:auto;
        }
        .img-container-profile{
            width:150px;
            overflow:hidden;
        }
        .img-container-profile img{
            width:100%;
            height:auto;
        }
		.rating .star {
			width: 20px;
			filter: invert(70%) sepia(84%) saturate(706%) hue-rotate(356deg) brightness(101%) contrast(106%);
		}
    </style>
{% endblock %}

{% block base_content %}
	<div class="container-lg mt-5">
		<div class="row justify-content-around">
			<aside class="col-12 col-lg-3 mt-3 order-2 order-lg-1">
				<div class="row">
					<div class="row tarjeta-stats border border-2 order-2 order-lg-1 rounded shadow m-0 p-0">
						<div class="col m-0 p-0">
							<p class="fs-5 fw-bold tarjeta-header m-0 py-2 text-center">RESUMEN ACTIVIDAD</p>
							<p class="m-0 px-4 pt-2"> <strong>{{total_viajesConductor}}</strong> viajes publicados </p>
							<p class="m-0 px-4"> <strong>{{total_viajesPasajero}}</strong> viajes realizados </p>
							<p class="m-0 px-4"> <strong>{{total_viajesPasajero_Canc}}</strong> reservas canceladas como pasajero </p>
							<p class="m-0 px-4 pb-2"> <strong>{{total_viajesConductor_Canc}}</strong> reservas canceladas como conductor </p>
							<p class="m-0 text-center py-3"> Última conexión: <strong>{{request.user.last_login|date:"SHORT_DATE_FORMAT"}} {{request.user.last_login|time:"H:i"}} </strong> </p>
						</div>
					</div>
					<div class="row tarjeta-coche border border-2 order-1 order-lg-2 mt-4 rounded shadow m-0 p-0">
						<p class="fs-5 fw-bold tarjeta-header m-0 py-2 text-center">COCHE</p>
						<div class="row m-0 py-3">
							<div class="col-12 fw-bold fs-3 m-0 " id="car-title">
								{{vehiculo.marca}} {{vehiculo.modelo}}
							</div>
							<div class="col-7">
								<div class="card-subtitle row pb-1 ps-3" id="car-year">
									<div class="col-auto text-center" id="car-year-icon">
										<img src='{% static "icon/pin.svg" %}' alt="Año de Matriculación" height="20px" width="20px" id="car-year-icon"/>
									</div>
									<div class="col-auto" id="car-year-text">
										<label for="car-year-icon">{{vehiculo.anyo_antiguedad}}</label>
									</div>
								</div>
								<div class="card-subtitle row pb-1 ps-3" id="car-year">
									<div class="col-auto text-center" id="car-year-icon">
										<img src='{% static "icon/tag.svg" %}' alt="Año de Matriculación" height="20px" width="20px" id="car-year-icon"/>
									</div>
									<div class="col-auto" id="car-year-text">
										<label for="car-year-icon">{{vehiculo.matricula}}</label>
									</div>
								</div>
								<div class="card-subtitle row pb-1 ps-3" id="car-year">
									<div class="col-auto text-center" id="car-year-icon">
										<img src='{% static "icon/brush.svg" %}' alt="Año de Matriculación" height="20px" width="20px" id="car-year-icon"/>
									</div>
									<div class="col-auto" id="car-year-text">
										<label for="car-year-icon">{{vehiculo.color}}</label>
									</div>
								</div>
								<div class="card-subtitle row pb-1 ps-3" id="car-year">
									<div class="col-auto text-center" id="car-year-icon">
										<img src='{% static "icon/vector.svg" %}' alt="Año de Matriculación" height="20px" width="20px" id="car-year-icon"/>
									</div>
									<div class="col-auto" id="car-year-text">
										<label for="car-year-icon">{{vehiculo.numero_asientos}}</label>
									</div>
								</div>
							</div>
							<div class="col-5 align-self-center">
								<div class="img-container-car img-responsive">
									{% if vehiculo.imagen_vehiculo %}
									<img src="{{ vehiculo.imagen_vehiculo.url }}">
									{% else %}
									<img src='{% static "img/default-car.jpeg" %}'>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<div class="col-12 col-lg-8 order-1 order-lg-2 shadow">
				<div class="row">
					<div class="col-12 px-3 pt-2">
						<h3 class="border-bottom border-5 border-warning">Perfil</h3>
					</div>
				</div>
				{% if request.user.id != usuario_perfil.id %}
				<div class="row">
					<div class="col-12 d-flex justify-content-center py-3">
						<a class="btn btn-warning rounded col-12 col-md-4 boton-3d"
						   href="{% url 'n_conversacion' idPc=usuario_perfil.id %}">
							<i class="fas fa-comment-dots fa-lg"></i>
							<span class="fs-5 fw-bold">Envía un mensaje a {{usuario_perfil.nombre}}</span>
						</a>
					</div>
				</div>
				{% endif %}
				<div class="row" id="foto-scoring">
					<div class="col-6 px-3 pt-2" id="foto">
						<div class="col-12 mb-3 d-flex justify-content-center">
							<div class="img-container-profile">
								{% if usuario_perfil.imagen %}
								<!--<img class="rounded-circle" src="{{ form.instance.imagen.url }}">-->
								<img class="rounded-circle" src="{{ usuario_perfil.imagen.url }}">
								{% else %}
								<img class="rounded-circle" src='{% static "img/avatar-mujer.jpg" %}'>
								{% endif %}
							<!--<a href="" alt="Editar"><embed src='{% static "icon/pencil-fill.svg" %}' alt="Editar"/></a>-->
							</div>
						</div>
						<div class="col-12 text-center fs-4">
							<strong>{{usuario_perfil.nombre}} {{usuario_perfil.apellido1}}</strong>
						</div>
						<div class="col-12 text-center">
							Prestigio: {{usuario_perfil.get_prestigio_display}}
						</div>
						<div class="col-12 text-center">
							Valoracion como conductor: {{avg_puntuacion_Conductor.avg_punt|floatformat:2}}
						</div>
					</div>
					<div class="col-6 px-3 pt-2 align-self-center">
						<div class="col-12 align-self-center" id="opiniones-resumen">
							<div class="row" id="puntuacion">
								<div class="col d-flex justify-content-center">
									<p class="display-3 fw-bold mb-0">
										{% if avg_puntuacion.avg_punt %}
										{{ avg_puntuacion.avg_punt|floatformat:2 }}
										{% else %}
										-,-
										{% endif %}
									</p>
								</div>
							</div>
							<div class="row" id="estrellas">
								<div class="col d-flex justify-content-center">
									<div class="rating" style="color: #FFC700;">
										<img class="star" {% if avg_puntuacion.avg_punt > 0.75 %} src='{% static "icon/star-fill.svg" %}'
														{% elif avg_puntuacion.avg_punt <= 0.75 and avg_puntuacion.avg_punt >= 0.25 %} src='{% static "icon/star-half.svg" %}'
														{% else %} src='{% static "icon/star.svg" %}' {%endif%}>
										<img class="star" {% if avg_puntuacion.avg_punt > 1.75 %} src='{% static "icon/star-fill.svg" %}'
														{% elif avg_puntuacion.avg_punt <= 1.75 and avg_puntuacion.avg_punt >= 1.25 %} src='{% static "icon/star-half.svg" %}'
														{% else %} src='{% static "icon/star.svg" %}' {%endif%}>
										<img class="star" {% if avg_puntuacion.avg_punt > 2.75 %} src='{% static "icon/star-fill.svg" %}'
														{% elif avg_puntuacion.avg_punt <= 2.75 and avg_puntuacion.avg_punt >= 2.25 %} src='{% static "icon/star-half.svg" %}'
														{% else %} src='{% static "icon/star.svg" %}' {%endif%}>
										<img class="star" {% if avg_puntuacion.avg_punt > 3.75 %} src='{% static "icon/star-fill.svg" %}'
														{% elif avg_puntuacion.avg_punt <= 3.75 and avg_puntuacion.avg_punt >= 3.25 %} src='{% static "icon/star-half.svg" %}'
														{% else %} src='{% static "icon/star.svg" %}' {%endif%}>
										<img class="star" {% if avg_puntuacion.avg_punt > 4.75 %} src='{% static "icon/star-fill.svg" %}'
														{% elif avg_puntuacion.avg_punt <= 4.75 and avg_puntuacion.avg_punt >= 4.25 %} src='{% static "icon/star-half.svg" %}'
														{% else %} src='{% static "icon/star.svg" %}' {%endif%}>
									</div>
								</div>
							</div>
							<div class="row mb-1" id="numero_opiniones">
								<div class="col d-flex justify-content-center fw-bold">
									<a href="{% url 'n_opiniones_recibidas_main' idPr=usuario_perfil.id %}">
										{{ total_opiniones }} opiniones
									</a>
								</div>
							</div>
						</div>
						<div class="col-12" id="opiniones-categoria">
							<div class="row justify-content-center" id="opiniones_cat">
								{% for key, values in opiniones_cat_dict.items %}
								<div class="col-7 col-lg-3 font2-muvil">
									{{ key }}
								</div>
								<div class="col-4 font2-muvil d-none d-lg-block">
									<div class="progress">
										<div class="progress-bar bg-warning" role="progressbar"
											 style="width: {% widthratio values total_opiniones 100 %}%"
											 aria-valuenow="{% widthratio values total_opiniones 100 %}"
											 aria-valuemin="0"
											 aria-valuemax="{{total_opiniones}}"></div>
									</div>
								</div>
								<div class="col-3 fw-bold font2-muvil">
									{{ values }}
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="row py-3" id="preferencias">
					<div class="col-12 px-3 pt-2">
						<h5 class="border-bottom border-3 border-warning">Preferencias</h5>
					</div>
					<div class="col px-5 pt-2">
						<label class="btn btn-white">
							<img src='{% static "icon/group.svg" %}' alt="Hablo poco"
								 {% if usuario_perfil.pref_conversacion == 1 %}
								 height="25px" width="25px"
								 {% elif usuario_perfil.pref_conversacion == 2 %}
								 height="30px" width="30px"
								 {% elif usuario_perfil.pref_conversacion == 3 %}
								 height="35px" width="35px"
								 {% else %}
								 height="0px" width="0px"
								 {% endif %}
								 id="group-icon"
								 alt="En alguna conversación intervengo" title="En alguna conversación intervengo"/>
						</label>
						<label class="btn btn-white">
							<img src='{% static "icon/music.svg" %}' alt="Hablo poco"
								 {% if usuario_perfil.pref_musica == 1 %}
								 height="25px" width="25px"
								 {% elif usuario_perfil.pref_musica == 2 %}
								 height="30px" width="30px"
								 {% elif usuario_perfil.pref_musica == 3 %}
								 height="35px" width="35px"
								 {% else %}
								 height="0px" width="0px"
								 {% endif %}
								 id="music-icon"
								 alt="En alguna conversación intervengo" title="En alguna conversación intervengo"/>
						</label>
						<label class="btn btn-white">
							<img src='{% static "icon/footprint.svg" %}' alt="Hablo poco"
								 {% if usuario_perfil.pref_mascota == 1 %}
								 height="25px" width="25px"
								 {% elif usuario_perfil.pref_mascota == 2 %}
								 height="30px" width="30px"
								 {% elif usuario_perfil.pref_mascota == 3 %}
								 height="35px" width="35px"
								 {% else %}
								 height="0px" width="0px"
								 {% endif %}
								 id="footprint-icon"
								 alt="En alguna conversación intervengo" title="En alguna conversación intervengo"/>
						</label>
						<label class="btn btn-white">
							<img src='{% static "icon/smoking.svg" %}' alt="Hablo poco"
								 {% if usuario_perfil.pref_fumar == 1 %}
								 height="25px" width="25px"
								 {% elif usuario_perfil.pref_fumar == 2 %}
								 height="30px" width="30px"
								 {% elif usuario_perfil.pref_fumar == 3 %}
								 height="35px" width="35px"
								 {% else %}
								 height="0px" width="0px"
								 {% endif %}
								 id="smoking-icon"
								 alt="En alguna conversación intervengo" title="En alguna conversación intervengo"/>
						</label>
						<label class="btn btn-white">
							<img src='{% static "icon/nutrition.svg" %}' alt="Hablo poco"
								 {% if usuario_perfil.pref_comida == 1 %}
								 height="25px" width="25px"
								 {% elif usuario_perfil.pref_comida == 2 %}
								 height="30px" width="30px"
								 {% elif usuario_perfil.pref_comida == 3 %}
								 height="35px" width="35px"
								 {% else %}
								 height="0px" width="0px"
								 {% endif %}
								 id="nutrition-icon"
								 alt="En alguna conversación intervengo" title="En alguna conversación intervengo"/>
						</label>
					</div>
				</div>
				<div class="row py-3" id="massobremi">
					<div class="col-12 px-3 pt-2">
						<h5 class="border-bottom border-3 border-warning">Más sobre mi...</h5>
					</div>
					<div class="col-12 px-5 pt-2">
						<textarea class="w-100" rows="10" placeholder="Aqui está mi introducción">{{usuario_perfil.descripcion}}
						</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}


