{% load static %}

<!doctype html>
<html lang="en">
  <head>
  	<title>Footer 07</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href='{% static "css/pie_pagina.css" %}'>

  </head>
  <body>

		<footer class="footer-07 mt-4">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 text-center">
						<h2 class="footer-heading"><a href="#" class="logo">www.Muvil.com</a></h2>
						<p class="menu">
							<a href="#">Sobre Nosotros</a>
							<a href="#">Empleo</a>
							<a href="#">Noticias</a>
							<a href="#">Legal</a>
							<a href="#">Blog</a>
							<a href="{% url 'n_contacto' %}">Contacto</a>
						</p>
						<ul class="ftco-footer-social p-0">
              	<li><a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><img src='{% static "icon/twitter.svg" %}' alt="" width="35px"/></a></li>
              	<li><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><img src='{% static "icon/facebook.svg" %}' alt="" width="35px"/></a></li>
              	<li><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><img src='{% static "icon/instagram.svg" %}' alt="" width="35px"/></a></li
				<li><a href="#" data-toggle="tooltip" data-placement="top" title="TikTok"><img src='{% static "icon/tiktok.svg" %}' alt="" width="35px"/></a></li>
              	<li><a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><img src='{% static "icon/pinterest.svg" %}' alt="" width="35px"/></a></li>

            </ul>
					</div>
				</div>
				<div class="row mt-5">
					<div class="col-md-12 text-center">
						<p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
					  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
					</div>
				</div>
			</div>
		</footer>

  </body>
</html>