        .navpane {
			background: linear-gradient(to right, #FFFFFF, #FFFFFF);
		}
		.yellow-bar {
			border-bottom-style: solid;
			border-bottom-width: medium;
			border-bottom-color: #FAFAD2;
		}
		.scrollbar-sunny-morning::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
			background-color: #F5F5F5;
			border-radius: 10px;
		}

		.scrollbar-sunny-morning::-webkit-scrollbar {
			width: 12px;
			background-color: #F5F5F5;
		}

		.scrollbar-sunny-morning::-webkit-scrollbar-thumb {
			border-radius: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
			background-image: -webkit-linear-gradient(330deg, #f6d365 0%, #fda085 100%);
			background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
		}

		.scrollbar-sunny-morning {
			scrollbar-color: #f6d365 #F5F5F5;
		}
		.my-custom-scrollbar {
		  position: relative;
		  width: 1050px;
		  height: 600px;
		  overflow: auto;
		}
		.nav-pills > button.active, .nav-pills > button.active:focus, .nav-pills > button.active:hover{
			color: #000000;
			background-color: #CACACA;
			font-weight: bold;
		}
		.nav-pills > button, .nav-pills > button:focus {
			color: #B1ACAC;
			background-color: #F9F4F4;
		}
		.nav-pills > button:hover {
			color: #000000;
			background-color: #CACACA;
			font-weight: bold;
		}
		.nav-pills > button:focus-within {
			color: #000000;
			background-color: #CACACA;
			font-weight: bold;
		}
		#v-pills-home-tab {
			color: #000000;
		  	background-color: #CACACA;
		  	font-weight: 900;
		}
		#car-card {
        	background-color: #F9F4F4
      	}
      	#car-card label{
        	color: #B1ACAC;
        	font-weight: bold;
      	}
      	#opiniones-list {
        	background-color: #F9F4F4;
      	}
      	.img-container-user{
		  	width:100px;
		  	overflow:hidden;
		}
		.img-container-user img{
		  	width:100%;
		  	height:auto;
		}
		.img-container-car{
		  	width:100px;
		  	overflow:hidden;
		}
		.img-container-car img{
		  	width:100%;
		  	height:auto
		}
		.custom-nav-pills {
			min-width: 180px;
		}
		.ivanxi img {
			width: 200px;
			height: 200px;
		}
		.card-medio-pago {
			width: 90%;
			height: 100px;
		}

		.default-medio-pago {
			background: #DDEBD8;
		}

		.contenedor-tarjetas-pagos .tarjeta-pago-ok {
			background: #DDEBD8;
		}

		.contenedor-tarjetas-pagos .tarjeta-pago-ko {
			background: #CACACA;
		}
