{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Buscar Viaje</title>

	<link type='text/css' href='{% static "css/buscar_viaje.css" %}' rel='stylesheet' />

</head>
<body>

	{% include "cabecera.html" %}

	<!-- INICIO Barra Busqueda -->
	<div class="container-md mt-5 d-flex justify-content-center contenedor-barra-busqueda" id="contenedor-barra-busqueda">
		<form class="row barra-busqueda" id = "barra-busqueda" method="POST" action="/buscar_viaje/{{usuario.id}}"> {% csrf_token %}
			<div class="col-6 col-md-3 form-floating p-0 m-0" id="origen">
				<input type="text" class="form-select rounded-0 rounded-start border border-warning" name="inputOrigen" id="inputOrigen"
					   {% if ciudad_origen %}
					   	value="{{ciudad_origen}}"
					   {% else %}
					   	placeholder="¿Desde donde sales?"
					   {% endif %} required>
				<label for="inputOrigen" class="form-label">Origen</label>
			</div>
			<div class="col-6 col-md-3 form-floating p-0 m-0" id="destino">
				<input type="text" class="form-select rounded-0 border border-warning" name="inputDestino" id="inputDestino"
					   {% if ciudad_destino %}
					   	value="{{ciudad_destino}}"
					   {% else %}
					   	placeholder="¿A donde quieres ir?"
					   {% endif %} required>
				<label for="inputDestino" class="form-label">Destino</label>
			</div>
			<div class="col-6 col-md-2 form-floating p-0 m-0" id="fecha">
				<input type="date" class="form-control rounded-0 border border-warning" name="inputFecha" id="inputFecha"
				       {% if fecha_viaje %}
						value="{{fecha_viaje}}"
					   {% else %}
					   	placeholder="Fecha"
					   {% endif %} required>
				<label for="inputFecha" class="form-label">¿Cuando?</label>
			</div>
			<div class="col-6 col-md-2 form-floating p-0 m-0 row-auto" name="inputPlazas" id="inputPlazas">
				<select data-trigger="" class="form-select rounded-0 border border-warning h-100">
				  	<option placeholder="" {% if nro_plazas == "1 plaza" %}selected{% endif %}>1 plaza</option>
				  	<option {% if nro_plazas == "2 plazas" %}selected{% endif %}>2 plazas</option>
				  	<option {% if nro_plazas == "3 plazas" %}selected{% endif %}>3 plazas</option>
				  	<option {% if nro_plazas == "4 plazas" %}selected{% endif %}>4 plazas</option>
				</select>
				<label for="inputPlazas" class="form-label">¿Cuantos asientos?</label>
			</div>
			<div class="col-12 col-md-2 p-0 m-0 row-auto" id="boton-buscar">
				<button class="btn w-100 h-100 btn-warning fw-bold fs-4 rounded-0 rounded-end border border-warning" type="submit">
					Buscar
				</button>
			</div>
		</form>
	</div>
	<!-- FIN Barra Busqueda -->

	<div class="container-md contenedor busqueda-viajes mt-4">
		<div class="row">

			<div class="col-12 d-flex justify-content-center mb-2">
				<button type="button" class="btn btn-warning col-10 fw-bold d-block d-md-none" data-bs-toggle="modal" data-bs-target="#ventana-filtros-viajes-modal">
					Filtros
				</button>
			</div>

			<!-- INICIO Modal Filtros -->
			<div class="modal fade" id="ventana-filtros-viajes-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
					  <div class="modal-header">
						<h5 class="modal-title fw-bold border-bottom border-3 border-warning" id="exampleModalLabel">Filtros</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					  </div>
					  <div class="modal-body">
						  <aside class="col-12 filtros-viajes modal-fade" id="contenedor-filtros-viajes-modal">
							  <div class="filtro-hora-salida my-1">
								  <label class="fw-bold">
									  Hora de salida...
								  </label>
							  <div class="px-2 py-1">
								  <div class="form-check">
									  <input type="checkbox" name="checkbox-1" class="form-check-input" id="checkbox-1">
									  <label for="checkbox-1" class="form-check-label">Mañana (6am - 12pm)</label>
								  </div>
									<div class="form-check">
										<input type="checkbox" name="checkbox-2" class="form-check-input" id="checkbox-2">
										<label for="checkbox-2" class="form-check-label">Tarde (12pm - 20pm)</label>
									</div>
									<div class="form-check">
										<input type="checkbox" name="checkbox-2" class="form-check-input" id="checkbox-2">
										<label for="checkbox-2" class="form-check-label">Noche (20pm - 6am)</label>
									</div>
								</div>
							</div>
							<div class="filtro-precio my-1">
								<label class="fw-bold">
									Precio...
								</label>
								<div class="d-flex px-1 py-1">
									<label class="col-3 text-end pe-1" for="filtro-desde">mínimo </label>
									<input class="col-3" type="number" id="filtro-desde">
									<label class="col-3 text-end pe-1" for="filtro-hasta">máximo </label>
									<input class="col-3" type="number" id="filtro-hasta">
								</div>
							</div>
							<div class="filtro-rating my-1">
								<label class="fw-bold">
									Calificación mínima...
								</label>
								<div class="px-3 py-1">
									<div class="form-check">
										<input type="checkbox" name="checkbox-1" class="form-check-input" id="checkbox-1">
										<label for="checkbox-1" class="form-check-label">Diamante</label>
									</div>
									<div class="form-check">
										<input type="checkbox" name="checkbox-1" class="form-check-input" id="checkbox-1">
										<label for="checkbox-1" class="form-check-label">Platino</label>
									</div>
									<div class="form-check">
										<input type="checkbox" name="checkbox-2" class="form-check-input" id="checkbox-2">
										<label for="checkbox-2" class="form-check-label">Oro</label>
									</div>
									<div class="form-check">
										<input type="checkbox" name="checkbox-2" class="form-check-input" id="checkbox-2">
										<label for="checkbox-2" class="form-check-label">Plata</label>
									</div>
									<div class="form-check">
										<input type="checkbox" name="checkbox-2" class="form-check-input" id="checkbox-2">
										<label for="checkbox-2" class="form-check-label">Bronce</label>
									</div>
								</div>
							</div>
							<div class="filtro-preferencias my-1">
								<label class="fw-bold">
									Preferencias...
								</label>
								<div class="px-2 py-1 d-flex align-items-center" id="filtro-conversacion">
									<label for="conversacion" class="col-4">Conversación</label>
									<select class="form-select col" id="conversacion">
										<option value="mucha">Mucha</option>
										<option value="suficiente">Suficiente</option>
										<option value="poca">Poca</option>
									</select>
								</div>
								<div class="px-2 py-1 d-flex align-items-center" id="filtro-musica">
									<label for="musica" class="col-4">Música</label>
									<select class="form-select col" id="musica">
										<option value="si">Si, por favor</option>
										<option value="no">No, gracias</option>
									</select>
								</div>
								<div class="px-2 py-1 d-flex align-items-center" id="filtro-fumar">
									<label for="fumar" class="col-4">Fumar</label>
									<select class="form-select col" id="fumar">
										<option value="no">No</option>
										<option value="si">Si</option>
									</select>
								</div>
								<div class="px-2 py-1 d-flex align-items-center" id="filtro-mascota">
									<label for="mascota" class="col-4">Acepta mascotas</label>
									<select class="form-select col" id="mascota">
										<option value="no">No</option>
										<option value="si">Si</option>
									</select>
								</div>
							</div>
						  </aside>
					  </div>
					  <div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
						<button type="button" class="btn btn-primary">Aplicar Filtros</button>
					  </div>
					</div>
				  </div>
			</div>
			<!-- FIN Modal Filtros -->

			<aside class="col-3 filtros-viajes d-none d-md-block" id="contenedor-filtros-viajes">
				<h4 class="fw-bold border-bottom border-3 border-warning">
					Filtrar por...
				</h4>
				<form method="POST"> {% csrf_token %}
					{{ filter.form.as_p }}
					<input type="submit" class="btn btn-warning fw-bold w-100" value="Aplicar Filtros"/>
					<input type="text" name="inputOrigen" id="inputOrigen" value="{{ciudad_origen}}" hidden>
					<input type="text" name="inputDestino" id="inputDestino" value="{{ciudad_destino}}" hidden>
					<input type="date" name="inputFecha" id="inputFecha" value="{{fecha_viaje}}" hidden>
					<input type="text" name="inputPlazas" id="inputPlazas" value="{{nro_plazas}}" hidden>
				</form>
			</aside>

			<div class="col-12 col-md-9 contenedor-tarjetas-viajes">
				{% for uvo in filter.qs %}
				<div class="col-12 col-md-12 p-2 my-3 d-flex align-items-center tarjeta-viaje rounded shadow">
						<div class="col-9 contenedor-ruta-conductor">
							<div class="row contenedor-ruta">
								<div class="col-1 ps-3">
									<img src='{% static "icon/location.svg" %}' alt="" width="15px" id="location"/>
								</div>
								<div class="col-11 fw-bold fs-md-5">
									<p class="fs-5">
										{{uvo.fechor_ida|date:"SHORT_DATE_FORMAT"}} {{ uvo.fechor_ida|time:"H:i" }} - {{uvo.ciudad_origen}}
									</p>
								</div>
								<div class="col-1 ps-4">
								</div>
								<div class="col-12 ps-5">
									<p class="duracion-km fw-md-bold">
										3:10 horas (320km)
									</p>
								</div>
								<div class="col-1 ps-3">
									<img src='{% static "icon/location.svg" %}'" alt="" width="15px" id="location"/>
								</div>
								<div class="col-11 fw-bold fs-md-5">
									<p class="fs-5">
										{{uvo.fechor_ida|date:"SHORT_DATE_FORMAT"}} {{ uvo.fechor_ida|time:"H:i" }} - {{uvo.ciudad_destino}}
									</p>
								</div>
							</div>
							<div class="row align-items-center contenedor-conductor">
								<div class="col-lg-2 col-3 ps-3 img-container-journey">
								{% if uvo.id_persona_id__imagen %}
									<img src="{{MEDIA_URL}}{{uvo.id_persona_id__imagen}}">
								{% else %}
									<img src='{% static "img/avatar-mujer.jpg" %}'>
								{% endif %}
								</div>
								{% if uvo.avg_puntuacion %}
								<div class="col-2 col-md-2 fw-bold fs-3 d-flex">
									{{uvo.avg_puntuacion|floatformat:2}}
									<img class="star ms-1" src='{% static "icon/star-fill.svg" %}'>
								</div>
								<div class="col-2 col-md-3">
									<a class="link-primary fw-bold">
										({{uvo.count_opiniones}} opiniones)
									</a>
								</div>
								{% else %}
								<div class="col-4 col-md-5">
									<a class="link-secondary fw-bold">
										(Sin opiniones todavía)
									</a>
								</div>
								{% endif %}
							</div>
						</div>
						<div class="col-3 contenedor-precio">
							<div class="row align-items-center text-center">
								<div class="col-12 fw-bold fs-1 precio-viaje">
									{{uvo.importe_total_asiento}}€
								</div>
								<div class="col-12 pb-2">
									por pasajero
								</div>
								<div class="col-12 plazas-viaje d-flex justify-content-center">
									<img src='{% static "icon/passengers.svg" %}' alt="Pasajeros" height="25px" width="25px" id="passengers-icon"/>
									<div class="ps-md-1">
										{{uvo.numero_asientos_libres}} plazas
									</div>
								</div>
								<div class="col-12 caracteristicas-viaje py-2 gap-3 d-flex justify-content-center">
									<label class="btn btn-white">
										<img src='{% static "icon/group.svg" %}' alt="Hablo poco"
											 {% if uvo.id_persona_id__pref_conversacion == 1 %}
											 height="25px" width="25px"
											 {% elif uvo.id_persona_id__pref_conversacion == 2 %}
											 height="30px" width="30px"
											 {% elif uvo.id_persona_id__pref_conversacion == 3 %}
											 height="35px" width="35px"
											 {% else %}
											 height="0px" width="0px"
											 {% endif %}
											 id="group-icon"
											 alt="En alguna conversación intervengo" title="En alguna conversación intervengo"/>
									</label>
									<label class="btn btn-white">
										<img src='{% static "icon/smoking.svg" %}' alt="Hablo poco"
											 {% if uvo.id_persona_id__pref_fumar == 1 %}
											 height="25px" width="25px"
											 {% elif uvo.id_persona_id__pref_fumar == 2 %}
											 height="30px" width="30px"
											 {% elif uvo.id_persona_id__pref_fumar == 3 %}
											 height="35px" width="35px"
											 {% else %}
											 height="0px" width="0px"
											 {% endif %}
											 id="smoking-icon"
											 alt="En alguna conversación intervengo" title="En alguna conversación intervengo"/>
									</label>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				<!--
				<div class="row tarjeta-pago m-2 p-2 d-flex align-items-center tarjeta-viaje rounded shadow">
					<div class="col-9 contenedor-ruta-conductor">
						<div class="row contenedor-ruta">
							<div class="col-1 ps-3">
								<img src='{% static "icon/location.svg" %}' alt="" width="15px" id="location"/>
							</div>
							<div class="col-11 fw-bold fs-md-5">
								<p>
									07:00 - Madrid - Estación de Chanmartín
								</p>
							</div>
							<div class="col-1 ps-4">
							</div>
							<div class="col-12 ps-5">
								<p class="duracion-km fw-md-bold">
									3:10 horas (320km)
								</p>
							</div>
							<div class="col-1 ps-3">
								<img src='{% static "icon/location.svg" %}'" alt="" width="15px" id="location"/>
							</div>
							<div class="col-11 fw-bold fs-md-5">
								<p>
									10:15 - Zaragoza - Iglesia del Pilar
								</p>
							</div>
						</div>
						<div class="row align-items-center contenedor-conductor">
							<div class="col-lg-2 col-3 ps-3 img-container-journey">
								<img src='{% static "img/personas/11.jpg" %}'>
							</div>
							<div class="col-1 col-md-1 fw-bold fs-3">
								4.7
							</div>
							<div class="col-1 col-md-1">
								<img src='{% static "img/Star.png" %}'>
							</div>
							<div class="col-2 col-md-3">
								<a class="link-primary fw-bold">
									(21 opiniones)
								</a>
							</div>
						</div>
					</div>
					<div class="col-3 contenedor-precio">
						<div class="row align-items-center text-center">
							<div class="col-12 fw-bold fs-1 precio-viaje">
								16€
							</div>
							<div class="col-12 pb-2">
								por pasajero
							</div>
							<div class="col-12 plazas-viaje d-flex justify-content-center">
								<img src='{% static "icon/passengers.svg" %}' alt="Pasajeros" height="25px" width="25px" id="passengers-icon"/>
								<div class="ps-md-1">
									2 plazas
								</div>
							</div>
							<div class="col-12 caracteristicas-viaje py-2 gap-3 d-flex justify-content-center">
								<img src='{% static "icon/group.svg" %}' height="25px" width="25px" id="group-icon"
									alt="Me gusta conversar" title="Me gusta conversar"/>
								<img src='{% static "icon/smoking.svg" %}' height="25px" width="25px" id="smoke-icon"
									alt="Se puede fumar" title="Se puede fumar"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row tarjeta-pago m-2 p-2 d-flex align-items-center tarjeta-viaje rounded shadow">
					<div class="col-9 contenedor-ruta-conductor">
						<div class="row contenedor-ruta">
							<div class="col-1 ps-3">
								<img src='{% static "icon/location.svg" %}' alt="" width="15px" id="location"/>
							</div>
							<div class="col-11 fw-bold fs-md-5">
								<p>
									07:00 - Madrid - Estación de Chanmartín
								</p>
							</div>
							<div class="col-1 ps-4">
							</div>
							<div class="col-12 ps-5">
								<p class="duracion-km fw-md-bold">
									3:10 horas (320km)
								</p>
							</div>
							<div class="col-1 ps-3">
								<img src='{% static "icon/location.svg" %}'" alt="" width="15px" id="location"/>
							</div>
							<div class="col-11 fw-bold fs-md-5">
								<p>
									10:15 - Zaragoza - Iglesia del Pilar
								</p>
							</div>
						</div>
						<div class="row align-items-center contenedor-conductor">
							<div class="col-2 col-md-2 ps-3 img-container-journey">
								<img src='{% static "img/personas/11.jpg" %}'>
							</div>
							<div class="col-1 col-md-1 fw-bold fs-3">
								4.7
							</div>
							<div class="col-1 col-md-1">
								<img src='{% static "img/Star.png" %}'>
							</div>
							<div class="col-4 col-md-3">
								<a class="link-primary fw-bold">
									(21 opiniones)
								</a>
							</div>
						</div>
					</div>
					<div class="col-3 contenedor-precio">
						<div class="row align-items-center text-center">
							<div class="col-12 fw-bold fs-1 precio-viaje">
								16€
							</div>
							<div class="col-12 pb-2">
								por pasajero
							</div>
							<div class="col-12 plazas-viaje d-flex justify-content-center">
								<img src='{% static "icon/passengers.svg" %}' alt="Pasajeros" height="25px" width="25px" id="passengers-icon"/>
								<div class="ps-md-1">
									2 plazas
								</div>
							</div>
							<div class="col-12 caracteristicas-viaje py-2 gap-3 d-flex justify-content-center">
								<img src='{% static "icon/group.svg" %}' height="25px" width="25px" id="group-icon"
									alt="Me gusta conversar" title="Me gusta conversar"/>
								<img src='{% static "icon/smoking.svg" %}' height="25px" width="25px" id="smoke-icon"
									alt="Se puede fumar" title="Se puede fumar"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row tarjeta-pago m-2 p-2 d-flex align-items-center tarjeta-viaje rounded shadow">
					<div class="col-9 contenedor-ruta-conductor">
						<div class="row contenedor-ruta">
							<div class="col-1 ps-3">
								<img src='{% static "icon/location.svg" %}' alt="" width="15px" id="location"/>
							</div>
							<div class="col-11 fw-bold fs-md-5">
								<p>
									07:00 - Madrid - Estación de Chanmartín
								</p>
							</div>
							<div class="col-1 ps-4">
							</div>
							<div class="col-12 ps-5">
								<p class="duracion-km fw-md-bold">
									3:10 horas (320km)
								</p>
							</div>
							<div class="col-1 ps-3">
								<img src='{% static "icon/location.svg" %}'" alt="" width="15px" id="location"/>
							</div>
							<div class="col-11 fw-bold fs-md-5">
								<p>
									10:15 - Zaragoza - Iglesia del Pilar
								</p>
							</div>
						</div>
						<div class="row align-items-center contenedor-conductor">
							<div class="col-2 col-md-2 ps-3 img-container-journey">
								<img src='{% static "img/personas/11.jpg" %}'>
							</div>
							<div class="col-1 col-md-1 fw-bold fs-3">
								4.7
							</div>
							<div class="col-1 col-md-1">
								<img src='{% static "img/Star.png" %}'>
							</div>
							<div class="col-4 col-md-3">
								<a class="link-primary fw-bold">
									(21 opiniones)
								</a>
							</div>
						</div>
					</div>
					<div class="col-3 contenedor-precio">
						<div class="row align-items-center text-center">
							<div class="col-12 fw-bold fs-1 precio-viaje">
								16€
							</div>
							<div class="col-12 pb-2">
								por pasajero
							</div>
							<div class="col-12 plazas-viaje d-flex justify-content-center">
								<img src='{% static "icon/passengers.svg" %}' alt="Pasajeros" height="25px" width="25px" id="passengers-icon"/>
								<div class="ps-md-1">
									2 plazas
								</div>
							</div>
							<div class="col-12 caracteristicas-viaje py-2 gap-3 d-flex justify-content-center">
								<img src='{% static "icon/group.svg" %}' height="25px" width="25px" id="group-icon"
									alt="Me gusta conversar" title="Me gusta conversar"/>
								<img src='{% static "icon/smoking.svg" %}' height="25px" width="25px" id="smoke-icon"
									alt="Se puede fumar" title="Se puede fumar"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row tarjeta-pago m-2 p-2 d-flex align-items-center tarjeta-viaje rounded shadow">
					<div class="col-9 contenedor-ruta-conductor">
						<div class="row contenedor-ruta">
							<div class="col-1 ps-3">
								<img src='{% static "icon/location.svg" %}' alt="" width="15px" id="location"/>
							</div>
							<div class="col-11 fw-bold fs-md-5">
								<p>
									07:00 - Madrid - Estación de Chanmartín
								</p>
							</div>
							<div class="col-1 ps-4">
							</div>
							<div class="col-12 ps-5">
								<p class="duracion-km fw-md-bold">
									3:10 horas (320km)
								</p>
							</div>
							<div class="col-1 ps-3">
								<img src='{% static "icon/location.svg" %}'" alt="" width="15px" id="location"/>
							</div>
							<div class="col-11 fw-bold fs-md-5">
								<p>
									10:15 - Zaragoza - Iglesia del Pilar
								</p>
							</div>
						</div>
						<div class="row align-items-center contenedor-conductor">
							<div class="col-2 col-md-2 ps-3 img-container-journey">
								<img src='{% static "img/personas/11.jpg" %}'>
							</div>
							<div class="col-1 col-md-1 fw-bold fs-3">
								4.7
							</div>
							<div class="col-1 col-md-1">
								<img src='{% static "img/Star.png" %}'>
							</div>
							<div class="col-4 col-md-3">
								<a class="link-primary fw-bold">
									(21 opiniones)
								</a>
							</div>
						</div>
					</div>
					<div class="col-3 contenedor-precio">
						<div class="row align-items-center text-center">
							<div class="col-12 fw-bold fs-1 precio-viaje">
								16€
							</div>
							<div class="col-12 pb-2">
								por pasajero
							</div>
							<div class="col-12 plazas-viaje d-flex justify-content-center">
								<img src='{% static "icon/passengers.svg" %}' alt="Pasajeros" height="25px" width="25px" id="passengers-icon"/>
								<div class="ps-md-1">
									2 plazas
								</div>
							</div>
							<div class="col-12 caracteristicas-viaje py-2 gap-3 d-flex justify-content-center">
								<img src='{% static "icon/group.svg" %}' height="25px" width="25px" id="group-icon"
									alt="Me gusta conversar" title="Me gusta conversar"/>
								<img src='{% static "icon/smoking.svg" %}' height="25px" width="25px" id="smoke-icon"
									alt="Se puede fumar" title="Se puede fumar"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row tarjeta-pago m-2 p-2 d-flex align-items-center tarjeta-viaje rounded shadow">
					<div class="col-9 contenedor-ruta-conductor">
						<div class="row contenedor-ruta">
							<div class="col-1 ps-3">
								<img src='{% static "icon/location.svg" %}' alt="" width="15px" id="location"/>
							</div>
							<div class="col-11 fw-bold fs-md-5">
								<p>
									07:00 - Madrid - Estación de Chanmartín
								</p>
							</div>
							<div class="col-1 ps-4">
							</div>
							<div class="col-12 ps-5">
								<p class="duracion-km fw-md-bold">
									3:10 horas (320km)
								</p>
							</div>
							<div class="col-1 ps-3">
								<img src='{% static "icon/location.svg" %}'" alt="" width="15px" id="location"/>
							</div>
							<div class="col-11 fw-bold fs-md-5">
								<p>
									10:15 - Zaragoza - Iglesia del Pilar
								</p>
							</div>
						</div>
						<div class="row align-items-center contenedor-conductor">
							<div class="col-2 col-md-2 ps-3 img-container-journey">
								<img src='{% static "img/personas/11.jpg" %}'>
							</div>
							<div class="col-1 col-md-1 fw-bold fs-3">
								4.7
							</div>
							<div class="col-1 col-md-1">
								<img src='{% static "img/Star.png" %}'>
							</div>
							<div class="col-4 col-md-3">
								<a class="link-primary fw-bold">
									(21 opiniones)
								</a>
							</div>
						</div>
					</div>
					<div class="col-3 contenedor-precio">
						<div class="row align-items-center text-center">
							<div class="col-12 fw-bold fs-1 precio-viaje">
								16€
							</div>
							<div class="col-12 pb-2">
								por pasajero
							</div>
							<div class="col-12 plazas-viaje d-flex justify-content-center">
								<img src='{% static "icon/passengers.svg" %}' alt="Pasajeros" height="25px" width="25px" id="passengers-icon"/>
								<div class="ps-md-1">
									2 plazas
								</div>
							</div>
							<div class="col-12 caracteristicas-viaje py-2 gap-3 d-flex justify-content-center">
								<img src='{% static "icon/group.svg" %}' height="25px" width="25px" id="group-icon"
									alt="Me gusta conversar" title="Me gusta conversar"/>
								<img src='{% static "icon/smoking.svg" %}' height="25px" width="25px" id="smoke-icon"
									alt="Se puede fumar" title="Se puede fumar"/>
							</div>
						</div>
					</div>
				</div>
				-->
			</div>
		</div>
	</div>

</body>
</html>