{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmacion</title>
</head>
<body>
    <!-- INICIO Modal confirmación reserva -->
	<div class="modal fade" id="confirmacion-reserva" tabindex="-1" role="dialog" aria-labelledby="confirmacion-reserva" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="btn-close" aria-label="Close" data-bs-dismiss="modal"></button>
		  </div>
		  <div class="modal-body">
			<p class="fw-bold text-center fs-3">¿Confirmas la reserva del viaje?</p>
		  </div>
		  <div class="modal-footer justify-content-center">
			  <a class="btn btn-warning fw-bold fs-5" href="{% url 'n_opiniones_recibidas_main' %}">
				  Reservar
			  </a>
			  <button type="button" class="btn btn-danger fw-bold fs-5" aria-label="Close" data-bs-dismiss="modal">
				  Cancelar
			  </button>
		  </div>
		</div>
	  </div>
	</div>
	<!-- FIN Modal confirmacion reserva -->
</body>
</html>