{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Contacto</title>

	<style>

    </style>

	<link type='text/css' href='{% static "css/contacto.css" %}' rel='stylesheet' />

</head>

<body>

	{% include "cabecera.html" %}

	<div class="container-lg">
    <h1 class="mt-5 text-center">Formulario de Contacto</h1>
	<form method="POST" action="" style="text-align:start;">
		<table style="margin:20px auto;">{{form.as_table}}</table>
		<button class="btn btn-warning fw-bold rounded-0 rounded-end d-flex m-auto" type="submit">
			Enviar
		</button>
	</form>

  </div>

</body>

</html>