{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>VAD</title>
    <link type='text/css' href='{% static "css/home.css" %}' rel='stylesheet' />
</head>
<body>
<body id="iywx">
  <header id="iubc" class="header-banner">
    <div id="iszv" class="container-width">
      <nav id="ie0w" class="menu">
        <div id="M_Comofunciona" class="menu-item">¿Cómo Funciona?
        </div>
        <div id="M_INICIOSESION" class="menu-item">Inicia Sesión
        </div>
        <div id="M_REGISTRO" class="menu-item">Regitraté
        </div>
      </nav>
      <div id="I_LOGO" class="logo">SHARING CAR
        <img src="/static/img/logo.jpg">
      </div>
      <div id="T_LOGAN" class="lead-title">Encuentra tu nuevo destino
      </div>
    </div>
  </header>
  <section id="ikkhv">
    <form id="issmtj" class="form">
      <div id="i21lwh" class="form-group">
        <label id="irxbkj" class="label">Origen</label>
        <input placeholder="Desde" type="text" required name="Origen" id="io10t9" class="input"/>
        <button type="button" id="ifjdv3" class="button">Send</button>
        <button type="button" id="ic1c0k" class="button">Buscar</button>
        <button type="button" id="i8bzoe" class="button">Publicar</button>
        <div id="icg41c" class="form-group">
          <label id="ivcweq" class="label">Destino</label>
          <input placeholder="A" type="text" required name="Destino" id="iiawma" class="input"/>
        </div>
        <div id="iax304" class="form-group">
          <label id="irg0li" class="label">Fecha</label>
          <input placeholder="Cuando" type="text" required name="Fecha" id="inyn7u" class="input"/>
        </div>
      </div>
    </form>
    <div id="i9x4g" class="container-width">
      <div id="ibcnf" class="flex-title">Próximas Salidas
      </div>
      <div id="i1u9j" class="cards">
        <div class="card">
          <div class="card-header">
          </div>
          <div class="card-body">
            <div class="card-title">Title one
            </div>
            <div class="card-sub-title">Subtitle one
            </div>
            <div class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header ch2">
          </div>
          <div class="card-body">
            <div class="card-title">Title two
            </div>
            <div class="card-sub-title">Subtitle two
            </div>
            <div class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            </div>
          </div>
        </div>
        <div class="card">
          <div id="irj6c" class="card-header ch3">
          </div>
          <div class="card-body">
            <div class="card-title">Title three
            </div>
            <div class="card-sub-title">Subtitle three
            </div>
            <div class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header ch4">
          </div>
          <div class="card-body">
            <div class="card-title">Title four
            </div>
            <div class="card-sub-title">Subtitle four
            </div>
            <div class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header ch5">
          </div>
          <div class="card-body">
            <div class="card-title">Title five
            </div>
            <div class="card-sub-title">Subtitle five
            </div>
            <div class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header ch6">
          </div>
          <div class="card-body">
            <div class="card-title">Title six
            </div>
            <div class="card-sub-title">Subtitle six
            </div>
            <div class="card-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="ignrm" class="blk-sect">
    <div id="icu4j" class="container-width">
      <div id="izqeq" class="blk-title">PRINCIPALES DESTINOS
      </div>
      <div id="izxudw" class="blk-desc">Encuentra los mejores destinos según tus preferencias.
      </div>
      <div id="ixw6cv" class="price-cards">
        <div id="i2otnb" class="price-card-cont">
          <div id="i4pnaf" class="price-card">
            <div id="i3f7ol" class="pc-title">Fin de Semana
            </div>
            <div class="pc-desc">Some random list
            </div>
            <div class="pc-feature odd-feat">+ Starter feature 1
            </div>
            <div class="pc-feature">+ Starter feature 2
            </div>
            <div class="pc-feature odd-feat">+ Starter feature 3
            </div>
            <div class="pc-feature">+ Starter feature 4
            </div>
            <div class="pc-amount odd-feat">$ 9,90/mo
            </div>
          </div>
        </div>
        <div class="price-card-cont">
          <div class="price-card pc-regular">
            <div id="ic3yzf" class="pc-title">Escapada
            </div>
            <div class="pc-desc">Some random list
            </div>
            <div class="pc-feature odd-feat">+ Regular feature 1
            </div>
            <div class="pc-feature">+ Regular feature 2
            </div>
            <div class="pc-feature odd-feat">+ Regular feature 3
            </div>
            <div class="pc-feature">+ Regular feature 4
            </div>
            <div class="pc-amount odd-feat">$ 19,90/mo
            </div>
          </div>
        </div>
        <div class="price-card-cont">
          <div class="price-card pc-enterprise">
            <div id="it4nv2" class="pc-title">Opción 3
            </div>
            <div class="pc-desc">Some random list
            </div>
            <div class="pc-feature odd-feat">+ Enterprise feature 1
            </div>
            <div class="pc-feature">+ Enterprise feature 2
            </div>
            <div class="pc-feature odd-feat">+ Enterprise feature 3
            </div>
            <div class="pc-feature">+ Enterprise feature 4
            </div>
            <div class="pc-amount odd-feat">$ 29,90/mo
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="iq942l" class="bdg-sect">
    <div class="container-width">
      <h1 class="bdg-title">The team
      </h1>
      <div id="ism6pz" class="badges">
        <div class="badge">
          <div class="badge-header">
          </div>
          <img src="img/team2.jpg" class="badge-avatar"/>
          <div class="badge-body">
            <div class="badge-name">John Black
            </div>
            <div class="badge-role">Software Engineer
            </div>
            <div class="badge-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore ipsum dolor sit
            </div>
          </div>
          <div class="badge-foot">
            <span class="badge-link">f</span>
            <span class="badge-link">t</span>
            <span class="badge-link">ln</span>
          </div>
        </div>
        <div id="iqyx92" class="badge">
          <div class="badge-header">
          </div>
          <img src="img/team3.jpg" class="badge-avatar"/>
          <div class="badge-body">
            <div class="badge-name">Jessica White
            </div>
            <div class="badge-role">Web Designer
            </div>
            <div id="i7gzwy" class="badge-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore ipsum dolor sit
            </div>
          </div>
          <div class="badge-foot">
            <span class="badge-link">f</span>
            <span class="badge-link">t</span>
            <span class="badge-link">ln</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer id="ia0bds" class="footer-under">
    <div class="container-width">
      <div class="footer-container">
        <div class="foot-lists">
          <div class="foot-list">
            <div class="foot-list-title">About us
            </div>
            <div class="foot-list-item">Contact
            </div>
            <div class="foot-list-item">Events
            </div>
            <div class="foot-list-item">Company
            </div>
            <div class="foot-list-item">Jobs
            </div>
            <div class="foot-list-item">Blog
            </div>
          </div>
          <div class="clearfix">
          </div>
        </div>
        <div class="form-sub">
          <div class="foot-form-cont">
            <div class="foot-form-title">Subscribe
            </div>
            <div class="foot-form-desc">Subscribe to our newsletter to receive exclusive offers and the latest news
            </div>
            <input name="name" placeholder="Name" class="sub-input"/>
            <input name="email" placeholder="Email" class="sub-input"/>
            <button type="button" class="sub-btn">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container-width">
        <div class="made-with">
          made with GrapesJS
        </div>
        <div class="foot-social-btns">facebook twitter linkedin mail
        </div>
        <div class="clearfix">
        </div>
      </div>
    </div>
  </footer>
</body>
</body>
</html>