{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Listado Usuarios</title>

    <style>
        .img-container{
            width:55px;
            overflow:hidden;
        }
        .img-container img{
            width:100%;
            height:auto
        }
    </style>

</head>

<body>

	{% include "cabecera.html" %}

	<div class="container mt-5">
		<div class="row">
			<h2 class="border-bottom border-warning border-4">Listado Usuarios</h2>
			<div class="table-responsive">
                <form method="POST" role="form" class="form-inline" enctype="multipart/form-data">
                <table class="table table-striped">
            	      <thead>
                      <tr>
                          <th>#</th>
						  <th>ID</th>
                          <th>Nombre</th>
                          <th>Apellido1</th>
                          <th>Apellido2</th>
                          <th>Fecha Nacimiento</th>
                          <th>Tipo Documento</th>
                          <th>Numero Documento</th>
                          <th>Email</th>
                          <th>Nro Telefono</th>
                          <th>Password</th>
						  <th>Descripcion</th>
						  <th>Imagen</th>
                      </tr>
					 </thead>
					 <tbody>
                        {% for c in usuarios %}
                        <tr>
                            <td>{{forloop.counter}}</td>
							<td>{{c.id}}</td>
                            <td>{{c.nombre}}</td>
                            <td>{{c.apellido1}}</td>
                            <td>{{c.apellido2}}</td>
                            <td>{{c.fec_nacimiento}}</td>
                            <td>{{c.tipo_documento}}</td>
                            <td>{{c.numero_documento}}</td>
                            <td>{{c.email}}</td>
                            <td>{{c.numero_telefono}}</td>
                            <td>{{c.password}}</td>
							<td>{{c.descripcion}}</td>
                            <td>
                            {% if c.imagen %}
                                <div class="img-container">
                                    <img class="rounded" src="{{ c.imagen.url }}">
                                </div>
                            {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                     </tbody>
                 </table>
                </form>
			</div>
		</div>
	</div>

</body>

</html>