{% load static %}

<!DOCTYPE html>
<html>
   <head>
      <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
      <link href="./css/main.css" rel="stylesheet" />
      <title>Document</title>
      <link type='text/css' href='{% static "css/miPerfil.css" %}' rel='stylesheet' />
      <link type='text/css' href='{% static "css/bootstrap5/bootstrap.min.css" %}' rel='stylesheet' />

   </head>
   <body>

   <div class="container border bg-warning text-dark">
       <div class="row">

       </div>
   </div>

    <!----- Boostrap ----->
    <script src='{% static "css/bootstrap5/bootstrap.min.css" %}'></script>
   </body>
</html>