{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Mis Viajes</title>

	<style>
		.img-container-driver{
            width:60px;
            height:75px;
            overflow:hidden;
        }
        .img-container-driver img{
            width:100%;
            height:auto;
        }
        .border-card {
        	border: solid 0.4em;
        	border-style: none none none solid; /* top | right | bottom | left */
		}
    </style>

	<link type='text/css' href='{% static "css/mis_viajes.css" %}' rel='stylesheet' />

</head>

<body>

	{% include "cabecera.html" %}

	<div class="container-lg mt-5">
		<div class="row justify-content-around">
			<aside class="col-12 col-lg-3 mt-5 order-2 order-lg-1 filtros-misviajes border">
				<h4 class="fw-bold border-bottom border-3 border-warning">
					Filtrar por...
				</h4>
				<form method="get">
					{{ filter.form.as_p }}
					<input type="submit" class="btn btn-warning fw-bold w-100" value="Aplicar Filtros"/>
				</form>
			</aside>
			<div class="col-12 col-lg-8 order-1 order-lg-2 shadow">
				<div class="row">
					<div class="col-12 px-3 pt-2">
						<h3 class="border-bottom border-5 border-warning">Mis viajes</h3>
					</div>
				</div>
				{% for v in filter.qs %}
				<div class="row border-card my-3 py-2 mx-1 justify-content-between shadow" id="card-viaje"
					 style="border-left-color:
					 				{% if v.estado == 1 %}
										#8C8F8B
									{% elif v.estado == 2 %}
										#1CAB04
									{% elif v.estado == 3 %}
										#991C1C
									{% endif %}
									;">
					<div class="col-7">
						<div class="row" id="fecha-viaje">
							<p class="fs-5">
								<strong>{{v.fechor_ida|date:"SHORT_DATE_FORMAT"}}</strong> de {{v.ciudad_origen}} a {{v.ciudad_destino}}
							</p>
						</div>
						<div class="row" id="listado-pasajeros">
							{% for p in listado_plazas_viajes %}
							{% if p.id_viaje.id == v.id %}
							<div class="col-auto" id="usuario-viaje">
								<div class="col-12 align-self-center">
									<div class="img-responsive img-container-driver">
										{% if p.id_persona.imagen %}
										<img style="cursor: pointer;"
											 class="rounded-circle"
											 src="{{ p.id_persona.imagen.url }}">
										{% else %}
										<img style="cursor: pointer;"
											 class="rounded-circle"
											 src='{% static "img/avatar-mujer.jpg" %}'>
										{% endif %}
									</div>
								</div>
								<div class="col-12 fw-bold text-center">
									{{p.id_persona.nombre}}
								</div>
								<div class="col-12 text-center">
									{% if p.flg_conductor %}
									<strong class="border border-3">Conductor</strong>
									{% else %}
									Pasajero
									{% endif %}
								</div>
							</div>
							{% endif %}
							{% endfor %}
							<!--
							<div class="col-2" id="usuario-viaje">
								<div class="col-12 align-self-center">
									<div class="img-container-driver img-responsive">
										<img style="cursor: pointer;"
											 class="rounded-circle"
											 src='{% static "img/personas/5.jpg" %}'>
									</div>
								</div>
								<div class="col-12 fw-bold text-center">
									Cecilia
								</div>
								<div class="col-12 text-center">
									Pasajero
								</div>
							</div>
							<div class="col-2" id="usuario-viaje">
								<div class="col-12 align-self-center">
									<div class="img-container-driver img-responsive">
										<img style="cursor: pointer;"
											 class="rounded-circle"
											 src='{% static "img/personas/6.jpg" %}'>
									</div>
								</div>
								<div class="col-12 fw-bold text-center">
									Lola
								</div>
								<div class="col-12 text-center">
									Pasajero
								</div>
							</div>
							<div class="col-2" id="usuario-viaje">
								<div class="col-12 align-self-center">
									<div class="img-container-driver img-responsive">
										<img style="cursor: pointer;"
											 class="rounded-circle"
											 src='{% static "img/personas/11.jpg" %}'>
									</div>
								</div>
								<div class="col-12 fw-bold text-center">
									Manuel
								</div>
								<div class="col-12 text-center">
									Pasajero
								</div>
							</div>
							<div class="col-2" id="usuario-viaje">
								<div class="col-12 align-self-center">
									<div class="img-container-driver img-responsive">
										<img style="cursor: pointer;"
											 class="rounded-circle"
											 src='{% static "img/personas/11.jpg" %}'>
									</div>
								</div>
								<div class="col-12 fw-bold text-center">
									Manuel
								</div>
								<div class="col-12 text-center">
									Pasajero
								</div>
							</div>
							-->
						</div>
					</div>
					<div class="col-4 me-3 align-self-center">
						<div class="row mt-2" id="estado-viaje">
							<div class="text-white rounded-pill text-center"
								 style="background-color:
								 	{% if v.estado == 1 %}
										#8C8F8B
									{% elif v.estado == 2 %}
										#1CAB04
									{% elif v.estado == 3 %}
										#991C1C
									{% endif %}
									;">
								{{v.get_estado_display|upper}}
							</div>
						</div>
						<div class="row" id="precio-viaje">
							<div class="col-12 fw-bold fs-1 text-center">
								{{ v.importe_total_asiento }}
							</div>
							<div class="col-12 pb-2 text-center">
								por pasajero
							</div>
							<div class="col-12 pb-2 text-center">
								<a href="{% url 'n_menu_usuario_opiniones' idP=idP %}">
									Ver Opiniones
								</a>
							</div>
							{% if v.id_persona_id != idP %}
							<div class="col text-center">
								<a class="btn btn-warning" href="{% url 'n_conversacion' idP=idP idPc=v.id_persona_id %}">
									<img alt="Añadir" src='{% static "icon/send-plus.svg" %}'>
									<b>Enviar Mensaje al Conductor</b>
								</a>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

</body>

</html>