{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Perfil Público</title>

	<style>
        .img-container-car{
            width:110px;
            overflow:hidden;
        }
        .img-container-car img{
            width:100%;
            height:auto;
        }
        .img-container-profile{
            width:150px;
            overflow:hidden;
        }
        .img-container-profile img{
            width:100%;
            height:auto;
        }
    </style>

	<link type='text/css' href='{% static "css/perfil_publico.css" %}' rel='stylesheet' />

</head>

<body>

	{% include "cabecera.html" %}

	<div class="container-lg mt-5">
		<div class="row justify-content-around">
			<aside class="col-12 col-lg-3 mt-3 order-2 order-lg-1">
				<div class="row">
					<div class="row tarjeta-stats border border-2 order-2 order-lg-1 rounded shadow m-0 p-0">
						<div class="col m-0 p-0">
							<p class="fs-5 fw-bold tarjeta-header m-0 py-2 text-center">RESUMEN ACTIVIDAD</p>
							<p class="m-0 px-4 pt-2"> <strong>{{total_viajesConductor}}</strong> viajes publicados </p>
							<p class="m-0 px-4"> <strong>{{total_viajesPasajero}}</strong> viajes realizados </p>
							<p class="m-0 px-4"> <strong>{{total_viajesPasajero_Canc}}</strong> reservas canceladas como pasajero </p>
							<p class="m-0 px-4 pb-2"> <strong>{{total_viajesConductor_Canc}}</strong> reservas canceladas como conductor </p>
							<p class="m-0 text-center py-3"> Última conexión: <strong>07/03/2023</strong> </p>
						</div>
					</div>
					<div class="row tarjeta-coche border border-2 order-1 order-lg-2 mt-4 rounded shadow m-0 p-0">
						<p class="fs-5 fw-bold tarjeta-header m-0 py-2 text-center">COCHE</p>
						<div class="row m-0 py-3">
							<div class="col-12 fw-bold fs-3 m-0 " id="car-title">
								{{vehiculo.marca}} {{vehiculo.modelo}}
							</div>
							<div class="col-7">
								<div class="card-subtitle row pb-1 ps-3" id="car-year">
									<div class="col-2 text-center" id="car-year-icon">
										<img src='{% static "icon/pin.svg" %}' alt="Año de Matriculación" height="20px" width="20px" id="car-year-icon"/>
									</div>
									<div class="col-10" id="car-year-text">
										<label for="car-year-icon">{{vehiculo.anyo_antiguedad}}</label>
									</div>
								</div>
								<div class="card-subtitle row pb-1 ps-3" id="car-year">
									<div class="col-2 text-center" id="car-year-icon">
										<img src='{% static "icon/tag.svg" %}' alt="Año de Matriculación" height="20px" width="20px" id="car-year-icon"/>
									</div>
									<div class="col-10" id="car-year-text">
										<label for="car-year-icon">{{vehiculo.matricula}}</label>
									</div>
								</div>
								<div class="card-subtitle row pb-1 ps-3" id="car-year">
									<div class="col-2 text-center" id="car-year-icon">
										<img src='{% static "icon/brush.svg" %}' alt="Año de Matriculación" height="20px" width="20px" id="car-year-icon"/>
									</div>
									<div class="col-10" id="car-year-text">
										<label for="car-year-icon">{{vehiculo.color}}</label>
									</div>
								</div>
								<div class="card-subtitle row pb-1 ps-3" id="car-year">
									<div class="col-2 text-center" id="car-year-icon">
										<img src='{% static "icon/vector.svg" %}' alt="Año de Matriculación" height="20px" width="20px" id="car-year-icon"/>
									</div>
									<div class="col-10" id="car-year-text">
										<label for="car-year-icon">{{vehiculo.numero_asientos}}</label>
									</div>
								</div>
							</div>
							<div class="col-5 align-self-center">
								<div class="img-container-car img-responsive">
									{% if vehiculo.imagen_vehiculo %}
									<img style="cursor: pointer;"
										 src="{{ vehiculo.imagen_vehiculo.url }}">
									{% else %}
									<img style="cursor: pointer;"
										 src='{% static "img/default-car.jpeg" %}'>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</aside>
			<div class="col-12 col-lg-8 order-1 order-lg-2 shadow">
				<div class="row">
					<div class="col-12 px-3 pt-2">
						<h3 class="border-bottom border-5 border-warning">Perfil</h3>
					</div>
				</div>
				<div class="row" id="foto-scoring">
					<div class="col-6 px-3 pt-2" id="foto">
						<div class="col-12 mb-3 d-flex justify-content-center">
							<div class="img-container-profile">
								{% if usuario.imagen %}
								<!--<img class="rounded-circle" src="{{ form.instance.imagen.url }}">-->
								<input type="file" id="id_image" name="imagen" hidden>
								<label for="id_image">
									<img class="rounded-circle"
										 style="cursor: pointer;"
										 src="{{ usuario.imagen.url }}"
										 title="Sube una nueva imagen">
								</label>
								{% else %}
								<input type="file" id="id_image" name="imagen" hidden>
								<label for="id_image">
									<img class="rounded-circle"
										 style="cursor: pointer;"
										 src='{% static "img/avatar-mujer.jpg" %}'
										 title="Sube una nueva imagen">
								</label>
								{% endif %}
							<!--<a href="" alt="Editar"><embed src='{% static "icon/pencil-fill.svg" %}' alt="Editar"/></a>-->
							</div>
						</div>
						<div class="col-12 text-center fs-4">
							<strong>{{usuario.nombre}} {{usuario.apellido}}</strong>
						</div>
						<div class="col-12 text-center">
							Experiencia: Principiante
						</div>
						<div class="col-12 text-center">
							Valoracion como conductor: 4/5
						</div>
					</div>
					<div class="col-6 px-3 pt-2 align-self-center">
						<div class="col-12 align-self-center" id="opiniones-resumen">
							<div class="row" id="puntuacion">
								<div class="col d-flex justify-content-center">
									<p class="display-3 fw-bold mb-0">
										{{ avg_puntuacion.avg_punt|floatformat:2 }}
									</p>
								</div>
							</div>
							<div class="row" id="estrellas">
								<div class="col d-flex justify-content-center">
									<img class="img-fluid" src='{% static "img/rating_stars.jpg" %}' height="20px" width="120px">
								</div>
							</div>
							<div class="row" id="numero_opiniones">
								<div class="col d-flex justify-content-center fw-bold">
									{{ total_opiniones }} opiniones
								</div>
							</div>
						</div>
						<div class="col-12" id="opiniones-categoria">
							<div class="row justify-content-center" id="opiniones_cat">
								{% for key, values in opiniones_cat_dict.items %}
								<div class="col-7 col-lg-3 font2-muvil">
									{{ key }}
								</div>
								<div class="col-4 font2-muvil d-none d-lg-block">
									<img class="img-fluid" src='{% static "img/prog-bar.png" %}' height="20px" width="180px">
								</div>
								<div class="col-3 fw-bold font2-muvil">
									{{ values }}
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				<div class="row py-3" id="preferencias">
					<div class="col-12 px-3 pt-2">
						<h5 class="border-bottom border-3 border-warning">Preferencias</h5>
					</div>
					<div class="col px-5 pt-2">
						<label class="btn btn-white">
							<img src='{% static "icon/group.svg" %}' alt="Hablo poco" height="30px" width="30px" id="group-icon"
								 alt="En alguna conversación intervengo" title="En alguna conversación intervengo"/>
						</label>
						<label class="btn btn-white">
							<img src='{% static "icon/music.svg" %}' alt="Hablo poco" height="30px" width="30px" id="music-icon"
								 alt="En alguna conversación intervengo" title="En alguna conversación intervengo"/>
						</label>
						<label class="btn btn-white">
							<img src='{% static "icon/footprint.svg" %}' alt="Hablo poco" height="30px" width="30px" id="footprint-icon"
								 alt="En alguna conversación intervengo" title="En alguna conversación intervengo"/>
						</label>
						<label class="btn btn-white">
							<img src='{% static "icon/smoking.svg" %}' alt="Hablo poco" height="30px" width="30px" id="smoking-icon"
								 alt="En alguna conversación intervengo" title="En alguna conversación intervengo"/>
						</label>
						<label class="btn btn-white">
							<img src='{% static "icon/nutrition.svg" %}' alt="Hablo poco" height="30px" width="30px" id="nutrition-icon"
								 alt="En alguna conversación intervengo" title="En alguna conversación intervengo"/>
						</label>
					</div>
				</div>
				<div class="row py-3" id="massobremi">
					<div class="col-12 px-3 pt-2">
						<h5 class="border-bottom border-3 border-warning">Más sobre mi...</h5>
					</div>
					<div class="col-12 px-5 pt-2">
						<textarea class="w-100" rows="10" placeholder="Aqui está mi introducción">{{usuario.descripcion}}
						</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

</html>